[2018-03-27 06:22] SergeyKanzhelev commented on #868
Regarding the change - yes, they can. See corresponding issue tracked in this repository. It happens with the slots swap. Regarding synchronizing of values - two things needs validation:
- values match between telemetry items context and heartbeat event. So perhaps let initializer populate heartbeat properties
- there is a way to join telemetry item with the corresponding heartbeat event. This ite

[2018-03-27 15:50] d3r3kk commented on #868
Thanks for getting back to me!

Agreed, this is the best way I think.

Ah yes, the *slot swap*!

Ok, I'll have to put logic into the telemetry initializer to identify "HeartbeatState" metrics, test the value of the various properties, and update the heartbeat provider itself if I detect a difference.

I will have the `AppServicesHeartbeatProviderTelemetryModule` add the properties to the heartbeat

[2018-03-28 17:05] SergeyKanzhelev commented on #868
For reference - this is swap issue I was talking about: https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/648

[2018-03-28 17:14] d3r3kk commented on #868
Cool. Thanks for linking the issue. (I understood the slot swap stuff, but am still not sure what was meant by *'join telemetry item with the corresponding heartbeat event'*).

[2018-04-03 03:51] kiwiant opened #871 "Inconsistent reporting "Roel instance" between SDKs?"
In Visual Studio 2017 (15.6.4) I'm using Application Insights to analyse an ASPNET Core solution with a SQL Server back-end.

SDKs dotnet:2.6.0-6229 and aspnet5c:2.2.1 report the "Role instance" as UPPERCASE. The rdddsc:2.5.1-195 reports this in lowercase.

[2018-04-03 04:41] d3r3kk opened #872 "Verify that App Services slot swaps are being detected in Web SDK"
There is some concern that slot swap detection is not reliable in the Web SDK for App Services. We have seen evidence that the slot swap was not being detected properly in Azure Functions, and we must ensure that other App Services (Web Apps, for instance) are not affected in the same way.

See comments in PR #870 regarding the use of WEBSITE_HOSTNAME for further insight & details.

## Repro Steps

[2018-04-03 04:42] d3r3kk commented on #872
See PR Azure/azure-webjobs-sdk#1382 for further detail.

[2018-04-04 13:37] d3r3kk opened #874 "Stylecop not turned on for Debug builds causing innefficiencies"
While preparing PRs and iterating on changes, it is a frequent occurrence  that the PR build will fail due to StyleCop rules.

## Repro Steps
1. Start a PR on our -dotnet-server repository.
2. Make a change locally, but only build Debug while iterating. (A typical scenario for me)
3. Submit changes to the PR.

##  Actual Behavior
The build succeeds locally where StyleCop rules are not applied and

[2018-04-04 23:37] SergeyKanzhelev commented on #871
I remember somebody mentioned this issue to me today. @d3r3kk was it you? Are you looking into it already?

[2018-04-05 02:27] d3r3kk opened #875 "Enable lazy initialization and checks for App Services environment in `AppServicesEnvironmentVariableMonitor` class."
As @cijothomas pointed out in PR #873, it is unnecessary to immediately instance the AppServicesEnvironmentMonitor singleton. Many applications are not Azure App Services and will never be used, so starting it up will be wasteful.

[2018-04-05 02:38] d3r3kk commented on #875
Also correct the test `AppServicesHeartbeatTelemetryModuleTests.UpdateEnvVarsWorksWhenEnvironmentValuesChange` and remove the delay for update to occur - we can supplant the `EnvironmentVariableMonitor` used during the test with the more immediate (and deterministic) `MockEnvironmentVariableMonitor` instead.

[2018-04-05 02:51] kiwiant commented on #871
Thanks guys.

[2018-04-05 07:13] d3r3kk commented on #871
I am not looking into this specifically at the moment. However, I am working in and around that bit of code, consolidating the .NET and .NET Core modules that read the role value. See issue #872 and potentially link this one there.

[2018-04-06 06:35] federicobarera commented on #797
@lmolkova

I have found another issue with the parent-child correlation.
Consider this scenario.

Postman: POST api/start -> POST api/continue -> POST api/end.
You expect these to be related... but they are not:

![image](https://user-images.githubusercontent.com/6658124/38405784-027f5ca8-39b5-11e8-924f-fd4b62d4fefc.png)

Looking at the parent-id, there is a common missing link in each of them.
Co

[2018-04-06 18:12] #867 closed

[2018-04-09 17:59] lmolkova commented on #797
@federicobarera
it's another known issue: https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/739

Please install
- Microsoft.ApplicationInsights.DependencyCollector package v 2.6.0-beta2
- System.Diagnostic.DiagnosticSource v 4.5.0-preview1

It will fix the problem.

[2018-04-09 19:38] SergeyKanzhelev commented on #585
From Azure Web Apps team:

We will need to adopt this change in our SDK to pick up this counter. One complication here is it's unclear how SDK will behave when trying to access JSON string that is not yet exists. Will it send value with zero value or report and error?

[2018-04-09 21:26] federicobarera commented on #797
Legend

[2018-04-10 01:12] d3r3kk commented on #868
All App Services covered by .NET and .NET Core SDKs are now in place.

[2018-04-10 01:12] #868 closed

[2018-04-11 06:35] ishepherd commented on #176
Any update?

[2018-04-11 15:19] SergeyKanzhelev commented on #585
I'll close this task once validation of it will complete. Need to wait a few weeks for the feature being deployed into production by Azure Web App team

[2018-04-11 17:18] #848 closed

[2018-04-11 17:18] #780 closed

[2018-04-16 20:34] MS-TimothyMothra commented on #853
Fix will be released with 2.6.0-Beta4

[2018-04-16 20:34] #853 closed

[2018-04-17 14:30] lukzog commented on #696
Hi,
Recently we've noticed similar issue for our services running inside Service Fabric. Sometimes, the CPU get stuck at 100%. Analyzing memory dump revealed similar stack trace from @Dmitry-Matveev

Could that be a race condition between 2 threads trying to log performance counters simultaneously?

![image](https://user-images.githubusercontent.com/5627109/38876235-651de794-425c-11e8-94ee-719088b

[2018-04-19 21:33] MS-TimothyMothra commented on #834
@d3r3kk can we close this?

[2018-04-19 21:33] MS-TimothyMothra commented on #831
Closing this to track in VSTS

[2018-04-19 21:33] #831 closed

[2018-04-19 21:34] MS-TimothyMothra commented on #753
@TomMilos any update?

[2018-04-19 21:36] #687 closed

[2018-04-19 21:36] d3r3kk commented on #834
This is still an issue, however let's triage it with the team and prioritize it (or close it) as necessary.

[2018-04-19 21:36] d3r3kk commented on #834
We don't have a to-triage label, maybe we should create one?

[2018-04-19 21:39] MS-TimothyMothra commented on #672
@Dmitry-Matveev please take a look. :)

[2018-04-19 21:40] #671 closed

[2018-04-19 21:41] MS-TimothyMothra commented on #665
@TomMilos please update

[2018-04-19 21:44] #766 closed

[2018-04-19 21:46] MS-TimothyMothra commented on #551
@Dmitry-Matveev wants to discuss this issue as a team

[2018-04-19 21:46] MS-TimothyMothra commented on #527
@TomMilos what is the current status on this?

[2018-04-19 21:48] MS-TimothyMothra commented on #218
@iusafaro any update?

[2018-04-19 21:51] MS-TimothyMothra commented on #57
everyone agrees this should be fixed, but two people couldn't repo. deferring to Future.

[2018-04-19 21:53] MS-TimothyMothra commented on #872
@d3r3kk will you be able to test this next week?
Please follow up with @Dmitry-Matveev

[2018-04-19 21:55] MS-TimothyMothra commented on #806
@cijothomas any update?

[2018-04-19 21:57] MS-TimothyMothra commented on #758
@TomMilos is this finished?

[2018-04-19 22:02] MS-TimothyMothra commented on #834
Thanks, I'll leave it assigned to 2.7 milestone and the team will review for sprint planning

[2018-04-19 22:41] d3r3kk commented on #872
Will investigate by EOD tomorrow.

[2018-04-19 23:40] SergeyKanzhelev commented on #57
I believe it was addressed with the AsyncLocal support. Closing

[2018-04-19 23:40] #57 closed

[2018-04-20 00:41] Dmitry-Matveev commented on #696
@lukzog, do you still have this issue with SDK 2.5.1?
It should've been fixed in #678 with PR #679.

[2018-04-20 01:14] Dmitry-Matveev commented on #672
Based on our telemetry, this issue does not seem to reproduce in 2.5+. Closing the issue.

[2018-04-20 01:14] #672 closed

[2018-04-20 02:00] jadesai commented on #640
Can we re-open this? This is happening for non-emulator accounts as well in AppInsights.Web 2.5.1

[2018-04-20 15:28] d3r3kk commented on #872
# Environment values investigation

*Can we use the environment to detect slot-swaps in Application Insights?*

**tl;dr** No, we cannot. The environment variables on the host are not propagated to the process after a slot swap.

## Findings at Runtime

### What does the environment say in a demo app?

The environment variables are not updating how we need them to, in order to detect slot - swaps.

[2018-04-20 16:39] SergeyKanzhelev commented on #640
@jadesai what application type are you using? Is it ASP.NET Classic or ASP.NET Core? If classic - can you confirm that ApplicationInsights.config has all the settings we discussed in this issue present?

[2018-04-20 17:26] jadesai commented on #640
ASP.NET Classic + .NET Standard. @SergeyKanzhelev the config change seemed to have worked, but is that supposed to be the long term fix? If so, can we outline that here: https://docs.microsoft.com/en-us/azure/application-insights/app-insights-asp-net-dependencies

The error is not intuitive so it would be better since I am sure multiple people running into this don't necessarily realize it.

[2018-04-20 19:01] lmolkova commented on #640
@SergeyKanzhelev
I wonder can we remove 'x-ms-request*' headers that cause the issue on the low level? This would eliminate the issue completely on any config. Headers are supported for backward-compatibility with 2.3- versions of the AI SDK.

[2018-04-20 19:04] SergeyKanzhelev commented on #640
The only blocker so far was JavaScript. If @iusafaro finished with with transition I think we should. Think what instructions we can give customers to enable interior. Ideally as external code, not a flag in SDK

[2018-04-20 20:30] SergeyKanzhelev commented on #640
This may be a good start. In any case check with Yulia. Maybe we can make a bigger change right away

[2018-04-20 20:52] lmolkova opened #887 "Remove x-ms-request-root-id and x-ms-request-id headers"
The headers were used for correlation and were deprecated with
- AppInsights Web SDK [2.4](https://github.com/Microsoft/ApplicationInsights-dotnet-server/releases/tag/v2.4.0-beta1)
- AspNetCore SDK [2.1.0](https://github.com/Microsoft/ApplicationInsights-aspnetcore/releases/tag/v2.1.0-beta2)
- Node.js SDK [0.21.0](https://github.com/Microsoft/ApplicationInsights-node.js/releases/tag/0.21.0)

(all

[2018-04-20 21:50] MS-TimothyMothra commented on #861
@zakimaksyutov need to know priority (p1, p2, p3) and what milestone to align this with (2.7 or 2.8)

[2018-04-20 21:55] MS-TimothyMothra commented on #824
@cijothomas is there any update on this?

[2018-04-20 21:57] MS-TimothyMothra commented on #820
Hi @michaelwstark have you had the opportunity to look at this?

[2018-04-20 21:58] #814 closed

[2018-04-20 21:59] MS-TimothyMothra commented on #797
@lmolkova do you plan to work on this in either the 2.7 or 2.8 milestones?

[2018-04-20 22:00] #794 closed

[2018-04-20 22:04] MS-TimothyMothra commented on #759
@zakimaksyutov @OsvaldoRosado Have you determined that we need the operation name?

[2018-04-20 22:09] MS-TimothyMothra commented on #748
I think this is what you're looking for:
https://technet.microsoft.com/en-us/library/bb734903.aspx#ECAA
https://docs.microsoft.com/en-us/dotnet/framework/debug-trace-profile/performance-counters

[2018-04-20 22:09] #748 closed

[2018-04-20 22:12] #717 closed

[2018-04-20 22:12] MS-TimothyMothra commented on #716
@tokaplan @letrungkien211 Any new progress on this issue?

[2018-04-20 22:14] MS-TimothyMothra commented on #713
HI @kkdawkins, have you had an opportunity to look at this again?

[2018-04-20 22:15] MS-TimothyMothra commented on #691
@tokaplan has your team scheduled this work?

[2018-04-20 22:17] MS-TimothyMothra commented on #176
@zakimaksyutov what is the priority (p1, p2, p3) and milestone for this (2.7, 2.8, later)

[2018-04-21 00:10] letrungkien211 commented on #716
I switched to service fabric and haven’t noticed the issue since then. Maybe it is really gone or my app log was just so big that it can be ignored. Thanks.

[2018-04-23 17:57] michaelwstark commented on #820
Apologies for the late reply; I was on vacation last week.  Yes.  I am in the process of adding validation I synced with @lmolkova on the 12th of April.  I will be submitting a pull request no later than Wednesday the 25th.

[2018-04-23 23:07] cijothomas opened #889 "Support PerfCounters for Asp.Net Core Apps in Azure Web App"
While there are no perf counter for .net core yet (https://github.com/Microsoft/ApplicationInsights-aspnetcore/issues/470), it should be possible to collect and report perf counters when application is run on Azure Web Apps using the special ENV variables exposed by Azure Web App. (https://github.com/projectkudu/kudu/wiki/Perf-Counters-exposed-as-environment-variables)

## Version Info
SDK Version

[2018-04-24 05:35] jfloodnet commented on #794
So was this issue a duplicate?

[2018-04-24 12:22] Solverx84 opened #890 "Operation.Name in requestTelemetry is empty and HttpContext.Current is null after upgrading from version 2.2 to 2.6."
Since upgrading from version 2.2 to 2.6 we no longer get operation name or access to HttpContext.Current for our Image requests. The problem only seem to occur in operations with ByteArrayContent.

Telemetry implementation
[code]
Simplified operation code look likes this:

[code]

The logic for handling the EndRequest seem to be changed.

In version 2.2 ApplicationInsightsHttpModule is listening f

[2018-04-24 15:56] lmolkova commented on #890
@Solverx84

The EndRequest handler is moved [Microsoft.AspNet.TelemetryCorrelation package](https://github.com/aspnet/Microsoft.AspNet.TelemetryCorrelation/blob/master/src/Microsoft.AspNet.TelemetryCorrelation/TelemetryCorrelationHttpModule.cs)

It fires event that is synchronously processed by AppLicationInsights in [RequestTrackingTelemetryModule](https://github.com/Microsoft/ApplicationInsights

[2018-04-24 18:16] d3r3kk commented on #872
Note that this does not impede the app2infra scenario for Web Apps.

[2018-04-24 18:54] lmolkova opened #892 "RequestTelemetry parent id is incorrect if Request-Id is not properly formatted"
## Repro Steps
1. Send request with Request-Id header like `guid.0` (without '|' at the beginning)

##  Actual Behavior
RequestTelmetry parent id is `guid`

## Expected Behavior
RequestTelmetry parent id should be `guid.0`

[2018-04-24 21:07] jsangco opened #894 "Azure Application Insights for Azure Cloud Service not receiving any data"
I'm trying to add Azure Application Insights to an existing Azure Cloud Service project, but I'm not receiving any data. Is someone able to provide info on what could be causing the error?

I've done the following:

1. Created the Application Insights project
2. Set the azure storage account
3. Set the APPINSIGHTS_INSTRUMENTATIONKEY in my CSCFG6.
4. Installed the nuget package
5. Set the Instrumen

[2018-04-25 00:02] Dmitry-Matveev commented on #794
If some of the services are within the same appdomain, I'd expect that the first quick pulse module is loaded and operational after the first service initialization but the second one fails [on this check](https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/4093e9a6d350a9d4759eb64a2be17a90dc23f85a/Src/PerformanceCollector/Perf.Shared/QuickPulseTelemetryProcessor.cs#L117).
With that

[2018-04-25 05:52] andymac4182 commented on #713
This started happening for our applications when targeting netcore2.0. I was using net461 with only a single line now we are seeing double.

[2018-04-25 15:15] MS-TimothyMothra commented on #797
@lmolkova do you have any estimate for when Microsoft.AspNet.TelemetryCorrelation might release your bugfix?

[2018-04-25 17:25] lmolkova commented on #797
reopening issue as AI SDK changes have not been completed yet (The issue was automatically closed by the other related PR).

[2018-04-25 18:28] lmolkova commented on #894
@jsangco

Did you install the nuget packages or just edited project files? If the latter, most likely the problem will be solved if you'd roll back the changes and install Microsoft.ApplicationInsights.Web nuget package with VS.

Could you please answer several questions that would help us understand the problem better?

1. Do you have an  [ApplicationInsights.config file](https://docs.microsoft.c

[2018-04-25 20:30] jsangco commented on #894
1. I manually integrated AI in to my project, so the applicationInsights.config did not exist. I've added one, to fix this but the only information I get is CPU and exception information; http request rate and other counters still have no data. I've attached my ApplicationInsights.config as a txt fie.

I also have a performance counter configuration collection specified in the diagnostics.wadcfgx

[2018-04-25 21:41] lmolkova commented on #894
For the Owin self-hosted ASP.NET perf counters do not work.

We also do not automatically track requests for Owin apps,  please refer to [this guide](https://docs.microsoft.com/en-us/azure/application-insights/application-insights-custom-operations-tracking#http-request-in-owin-self-hosted-app) for more details and tracking middleware examples..

In addition to the tracking, you could also use Met

[2018-04-25 21:41] #894 closed

[2018-04-25 22:59] MS-TimothyMothra commented on #585
@cijothomas @SergeyKanzhelev I see that this was moved into the 2.6 milestone.
Do we have validation that Azure's fix has been deployed?

[2018-04-25 23:16] MS-TimothyMothra commented on #638
@zakimaksyutov's concern was to make sure this does not impact the UX. MUST

Open question: has anyone already taken a dependency on this behavior.
Perhaps this doesn't need to be addressed anymore.

[2018-04-25 23:27] MS-TimothyMothra commented on #861
Conversation with Zaki,
This does impact customer's correlation experience.
Current documentation instructs customers to use StartOperation, with no clear strategy to fix their telemetry.

[2018-04-25 23:33] MS-TimothyMothra commented on #861
More misleading documentation:

https://docs.microsoft.com/en-us/azure/application-insights/app-insights-api-custom-events-metrics#operation-context

https://docs.microsoft.com/en-us/azure/application-insights/application-insights-custom-operations-tracking

search "startoperation" and note the code samples

[2018-04-26 06:45] SergeyKanzhelev commented on #585
Just checked - looks it wasn't enabled yet. Still waiting...

[2018-04-27 06:57] Solverx84 commented on #890
@lmolkova

Thank you for helping us out!

After adding TelemetryCorrelationHttpModule to web.config the logging start working again.

We followed the instructions reported in issue 569:
[https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/569](url)

While debugging we noticed that Initialize is called twice in HttpRequestOperationNameInitializer. This happens for all kind of requ

[2018-04-27 16:26] SergeyKanzhelev commented on #623
@SethPatrich have you added `TelemetryCorrelationHttpModule` under `system.web\httpModules`?

[2018-04-27 22:07] MS-TimothyMothra commented on #802
One thing to note, this change is appending a new Value to the Header Key:

![image](https://user-images.githubusercontent.com/28785781/39387021-2d6e1b8e-4a2c-11e8-8859-2fbbafa632aa.png)

I don't know if this is intended. The HTTP standard might prefer comma delimited values:

https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2

[2018-04-30 18:54] jadesai commented on #176
This seems to have worked for us:

        private static readonly HashSet<string> PathParamtersToLog = new HashSet<string>(StringComparer.InvariantCultureIgnoreCase)
        {
            "controller",
            "action"
        };

            string guidPattern = @"([a-z0-9]{8}[-][a-z0-9]{4}[-][a-z0-9]{4}[-][a-z0-9]{4}[-][a-z0-9]{12})";

            try
            {
                telemetry

[2018-04-30 21:14] MS-TimothyMothra commented on #887
bumped this to p1 because this is actively affecting customers.
would be great to fix it permanently.

[2018-05-01 23:12] michaelwstark opened #900 "Enable Access to Dependency Request Objects in DependencyCollector"
Opening this item per comments on the pull request -- consolidating discussions referenced items.

#issues:
https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/820
https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/747
https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/587
https://github.com/Microsoft/ApplicationInsights-dotnet-server/pull/89

[2018-05-02 17:11] lmolkova commented on #890
@Solverx84

Sorry, I missed your reply.
You are right. `Intitialize` is called 2 times, first time to add ApplicationId into the response headers and a second time when the telemetry is actually tracked in Application_EndRequest.
This is not guaranteed and we may change it or optimize the first call away in future.

According to the call first stack with the ByteArrayContent, it does not happen in

[2018-05-03 00:41] lmolkova commented on #887
Discussed with @iusafaro:
JavaScript SDK uses `Request-Id` header and does not use `x-ms-request-id` (and root) headers any longer. Customers pick up Javascript SDK dynamically whenever a new version is released.

[2018-05-03 21:30] SergeyKanzhelev commented on #585
Just validated - it works in Central US (at least).

[2018-05-03 21:30] #585 closed

[2018-05-04 14:40] gpetersOB opened #904 "Classic mode no longer capturing Request telemetry"
If you are reporting bug/issue, please provide detailed Repro instructions.

## Repro Steps
1. Install NuGet v2.2. Deploy web application in classic mode. Request telemetry is captured.
2. Upgrade to NuGet v2.4.0. Deploy web application in classic mode. Request telemetry is no longer captured, but Dependency telemetry is.

##  Actual Behavior
Loss of request telemetry in classic IIS mode for web a

[2018-05-04 17:24] lmolkova commented on #890
@Solverx84

I'm closing this issue, feel free to reopen if the problem persists or you need more details.

[2018-05-04 17:25] #890 closed

[2018-05-04 19:54] gpetersOB commented on #904
Thanks @SergeyKanzhelev for the quick response!

I checked our web.config and found the precondition. I'll remove and see what happens.
![fri 05-04 2-47-00 pm](https://user-images.githubusercontent.com/29411321/39649306-03ff1d0a-4fab-11e8-803e-da34dc00e1e4.jpg)

[2018-05-04 21:03] lmolkova commented on #551
For users who use (Http)WebRequests and do not dispose the responses, we recommend using StatusMonitor to track trier Http dependency calls. [Here is more info on it](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-monitor-performance-live-website-now).

I'm closing this issue, please reopen if needed or create another one

[2018-05-04 21:03] #551 closed

[2018-05-07 18:08] cijothomas opened #909 "Http DependencyCollection in netcore inconsistent with full framework/sql?"
HttpCoreDiagnosticSourceListener calls `TrackException` here:
https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/develop/Src/DependencyCollector/Shared/HttpCoreDiagnosticSourceListener.cs#L275

But other dependency collection mechanisms for http, sql does not call `TrackException()` ever.
This cause inconsistent behavior - either have all dependency collectors report the Exception

[2018-05-08 02:36] kkdawkins commented on #713
I'm sorry @MS-TimothyMothra  - my product went GA at //build, and it was a busy time. The link posted above is the same behavior that I am seeing.

I have a repo for a private project that can repro this for you, but I would rather not share it publically. It is a simple WebApp - I can make you a reader on it if you would like to try for yourself?

[2018-05-09 16:06] #887 closed

[2018-05-11 10:41] dtaylor84 opened #911 "Snapshot Debugger ProblemCounterResetInterval is parsed (or documented) incorrectly for ASP.NET"
I just submitted this issue Microsoft/ApplicationInsights-Home#223 and I'm now unsure if I should have posted it here instead.

Sorry for the spam.

[2018-05-11 16:18] pharring commented on #911
@dtaylor84 I'll reply in the Home repo. Please close this one.

[2018-05-11 16:32] #911 closed

[2018-05-12 22:58] andymac4182 commented on #665
Is there any update on this? I saw Redis showing up as a dependency at Build. It would be great if this was coming soon.

[2018-05-12 23:04] andymac4182 commented on #887
@lmolkova Is there a migration from `x-ms-request-id` and `x-ms-request-root-id` as we have implemented this manually currently to support `fetch`?

[2018-05-13 19:45] gabarach opened #912 "WCF Service dependency tracking only auth requests resulting into 401 response"
If you are reporting bug/issue, please provide detailed Repro instructions.

## Repro Steps
1. Create an ASP.NET (target framework 4.6.1) Web API application using Visual Studio 2017 (by default, it refers to Application Insights 2.2 SDK)
**Packages.config**:
[code]

2. Update the Application Insights nuget packages to either 2.4 or 2.6.1
**Packages.config**:
[code]

3. Specify the Application Ins

[2018-05-14 14:02] cijothomas commented on #713
@kkdawkins Please add me as a reader so we can take a look at the repro.
https://github.com/Microsoft/ApplicationInsights-aspnetcore/issues/621 - This is a known issue, but I dont know yet if this is the issue you are hitting as well.

[2018-05-15 06:15] lmolkova commented on #912
Unfortunately we do not support tracking WCF client calls yet. Please check this experimental project https://github.com/Microsoft/ApplicationInsights-SDK-Labs/tree/master/WCF and let us know if it helps. I'm closing this for now, feel free to reopen

[2018-05-15 20:16] juliannammello commented on #654
@tomasr I know this is a very old thread, but this is exactly the issue I'm seeing.  Do you recall if you figured out what the issue was here?  Thanks.

[2018-05-15 20:19] tomasr commented on #654
@juliannammello Honestly, I could never get it to work again on my laptop, but then again, I didn't try too much later on. So no idea at this point what caused it.

[2018-05-15 21:04] lmolkova opened #913 "Library instrumentation guidance with DiagnosticSource"
We are looking for help from the tracing community to review out library instrumentation guidance

https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/develop/LibraryInstrumentationGuidance.md

Start of the discussion:
https://github.com/StackExchange/StackExchange.Redis/issues/833

We will be happy to hear your feedback about anything, some exiting concerns:
- no configuration
- n

[2018-05-15 23:08] lmolkova commented on #887
@andymac4182

Sorry for making this change that breaks your correlation.

There are 2 options for migration:

1. Keep x-ms headers on the client side:
set `OperationCorrelationTelemetryInitializer.ParentOperationIdHeaderName to x-ms-request-id`
set `OperationCorrelationTelemetryInitializer.RootOperationIdHeaderName to x-ms-request-root-id`

2. Change headers names on the client side, instead of se

[2018-05-15 23:10] lmolkova commented on #665
@andymac4182 could you please point me to the slides/video with Redis dependency? This is something we discussing with Redis StackExchange team now,  but have not got any agreement yet.

[2018-05-16 04:36] andymac4182 commented on #665
@lmolkova https://youtu.be/vPZiwi-15_U?list=PLlrxD0HtieHg7uB3_amVXvaRgxIcXLtYD&t=2558 Here is the video that I was referring to.

[2018-05-16 15:58] lmolkova commented on #912
I'm reopening the issue with new info provided by @gabarach. @gabarach thanks a lot for your time, much appreciated!

In fact 2 WCF calls are done over  HTTP and first results in 401, while the second one results in 200 (WCF server-side telemetry shows 2 requests).

With DiagnosticSource http collection on desktop we track only first one.
When DiagnosticSource is disabled, we track just one that r

[2018-05-16 19:06] gpetersOB commented on #904
Hi @SergeyKanzhelev,

I wanted to circle back on this for a sanity check, as I'm still unable to see requests & exceptions logged in AppInsights.

(1) I removed the preCondition=integratedMode from the <system.webserver><modules> section.
(2) I copied the remove/add tracking sections to the <system.web><httpModules> section.
(3) Redeployed the updates and restarted IIS.

here's the relevant snippe

[2018-05-16 22:16] stebet commented on #913
Here are some of my ideas after the discussions that have alreayd taken place in several other issues. By all means chime in and let's try to get everyone on the same page on how to work with this, as I think all of us can see the potential ad would love to see that potential realized.

Here are some points to get things started :)

## What to do with current code that does not adhere to todays gu

[2018-05-17 12:41] bratan05 commented on #913
I agree with you.

[2018-05-17 15:05] juliannammello commented on #654
@tomasr Got it, thanks anyway!

[2018-05-18 21:49] lmolkova commented on #912
Hi @gabarach,

So I do have 400 followed by 200 in my iis logs. I believe the problem is intermittent and I'm just lucky that the latter one is collected.

Could you please repro the issue and collect some traces for me (with `DisableDiagnosticSourceInstrumentation` set to false)?

1.	Download and run PerfView tool: https://github.com/Microsoft/perfview/blob/master/documentation/Downloading.md
2.

[2018-05-19 01:20] lmolkova commented on #913
I have started to work on it in #917`.

@stebet thanks for your input!
I'm working on some of your point (all related to documentation/guidance).
Regarding the API changes: helpers, verbosity level, we will discuss it internally.

Some comments:

We have discussions about it with some .NET teams and faced a strong pushback against concrete payload types. On the other side .NET producers have guara

[2018-05-23 00:12] lmolkova opened #920 "Efficiently filter dependencies (and requests) collection"
In some cases we do not want to collect certain calls:

1. **Containers scenarios** when  telemetry is sent to side-car agent first @karolz-ms can tell more about this scenario
This case could be solved with filtering telemetry processor, but it is not efficient solution as telemetry has to be tracked and flow through all the pipeline just to be discarded

2. **Azure Functions** functions host int

[2018-05-23 07:36] rzontar opened #921 "Automatic MvcExceptionFilter injeciton triggers an Exception if Error View is not found"
Since AI 2.6 the MvcExceptionFilter is automatically injected into the global filters. This broke some of our Applications, because we don't rely on MVC ExceptionFilters to handle our Exceptions.

I identified the cause to be the `base.OnException` call inside the Filter, which executes the default ExceptionHandling code.
https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/33696c0d

[2018-05-23 16:54] lmolkova commented on #921
@rzontar
Sorry about this, we'll consider to stop calling base.Exception.

You can disable injection by setting `ExceptionTrackingTelemetryModule.ExceptionTrackingTelemetryModule` to `false`

Simplest way to achieve it is through ApplicationInsights.config :
[code]

[2018-05-23 17:47] lmolkova opened #924 "Double tracking of requests and dependencies in WCF service"
Reporting issue from @gabarach - please add more details if I missed anything.

Sometimes some requests and dependencies are reported twice.
They are identical except item id.
Here is result of `union * | operation_Id == "something"`
[AI_Duplicate_Events.txt](https://github.com/Microsoft/ApplicationInsights-dotnet-server/files/2032129/AI_Duplicate_Events.txt)
 (I've filtered out any sensitive info

[2018-05-23 17:49] lmolkova commented on #924
@gabarach if you notice any patterns in this: e.g. duplicates appear on one node/machine, but not the others or they appear for certain requests only, please let us know.

[2018-05-23 20:10] karolz-ms commented on #920
@lmolkova @SergeyKanzhelev Thanks for taking this issue up

In containerized environments like Kubernetes/AKS or Service Fabric Mesh it is quite common for main service containers to either push diagnostic data somewhere or expose an endpoint that is interrogated by diagnostic infrastructure (e.g. Kubernetes readines & liveness probes, Prometheus metrics endpoints).

In these scenarios you typical

[2018-05-24 00:43] #759 closed

[2018-05-24 00:45] #716 closed

[2018-05-24 12:20] ackava opened #927 "New Feature - Change Temp Folder"
Please provide way to change path of temporary folder, as you know Azure VMs provide temporary drive on `d:` which is faster to access as compared to `c:` hosted on blob storage.

[2018-05-24 15:04] gabarach commented on #924
@lmolkova , first of all, many thanks for logging this issue !!!
Unfortunately, I couldn't find any pattern to these duplicates. I have an azure app service with 15 instances and this issue pretty much occurs on all these instances. Out of 1M requests, there will be 2K duplicate requests and dependencies. Hope that helps.

[2018-05-24 15:51] MS-TimothyMothra commented on #863
Addressing @cijothomas concerns, our test projects will remain split by framework. This is for our build servers which run test per framework. This continues the practice of how our other repos are structured. :)

The deliverable projects are currently structured by having a Shared project with all code files, and multiple projects per framework for compilation. These can be consolodated into a si

[2018-05-24 16:10] SergeyKanzhelev commented on #927
You can change `StorageFolder` for the channel if needed like this:

[code]

or in code: `((Microsoft.AI.ServerTelemetryChannel)TelemetryConfiguration.Active.TelemetryChannel).StorageFolder = "D:\\AITempFolder";`

It wouldn't help with performance as storage folder only used when connection cannot be established with Application Insights endpoint well.

Please re-open if you have further questions

[2018-05-24 16:10] #757 closed

[2018-05-24 16:19] cijothomas commented on #863
our test projects will remain split by framework -- This is not just for our build servers! Its for folks who run the tests locally in VIsual Studio - it only shows the tests from 1st target framework if you have multiple targets. When VS fixes this, we would no longer need separate projects.

[2018-05-24 16:43] SergeyKanzhelev commented on #920
Better approach than delegate may be converting `ApplicationInsightsUrlFilter` into telemetry processor. So module will have a chain of processors similar how it works for sinks. This pattern than can be used for other modules as well.

[2018-05-24 17:21] karolz-ms commented on #920
Sergey, I see your point, and I do not think this is either-or situation, i.e. I can see how useful the ability of associating processors with telemetry modules might be.

That said, in this case I would argue it is a common scenario for request and dependency autocollectors, involving nontrivial amount of traffic, so that it makes more sense to do teach them what requests to disregard. The altern

[2018-05-24 17:37] lmolkova commented on #920
I think we all agree that filtering is possible now. There are may be some issues with scenario2, but in general we do support filtering now.

The question is where filtering happens: pre or post-collection. `ApplicationInsightsUrlFilter` is a pre-collector filter that runs synchronously with the request.

I believe @SergeyKanzhelev meant that it should remain pre-collection, but should follow cha

[2018-05-24 17:44] SergeyKanzhelev commented on #920
so callback will allow to save on data collection for a request before creating a telemetry item at all? We need to create an object to mark the request as "not interesting" anyway, should we?

Also - if one do not want to track telemetry from specific request - does it mean trace context will not flow to dependent service? Or we might want to still propagate it?

[2018-05-24 17:47] SergeyKanzhelev commented on #920
and yes - we all agree. Just looking for solution =)

BTW, do you think one can take a dependency on DS for this? Maybe just start `Activity` with predefined name instead of SDKInternalOperation call?

[2018-05-24 18:32] lmolkova commented on #920
When we discard http calls to AppInsights currently - no telemetry is being created, that's the  first thing we check after validating HttpRequestMessage:

https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/6c4415f1e2e4255ed9d785586d6b6184cb1dbe94/Src/DependencyCollector/Shared/HttpCoreDiagnosticSourceListener.cs#L287

Note that telemetry object is not even created until the Stop

[2018-05-25 15:38] cwe1ss commented on #913
Thanks for creating this issue and the documentation. Here's some general things. I'll add my feedback regarding the actual content to #917.

* Will this be merged with the existing DiagnosticSourceUserGuide / ActivityUserGuide? There's a lot of overlap and they currently all have outgoing HTTP calls as examples but they're all using different instrumentation code.
  * If not, this really shouldn'

[2018-05-28 19:38] alainvezina commented on #766
Good afternoon

Sorry for the late response.

I'm still facing the same issue.

I'm upgrade to the latest and test it again.

Same result.

Once again, on a dev machine it works fine but once we publishing it to an Azure Web App, auto collectors such as request are not working. Only what is done programmatically works.

Something new : If we published it using VisualStudio, requests are working, b

[2018-05-28 19:42] alainvezina commented on #766
This is my App Insights config

[code]

[2018-05-28 19:44] alainvezina commented on #766
On my global.asax.cs  ( Application_Start)

[code]

[2018-05-28 19:46] alainvezina commented on #766
Web.config

[code]
[code]

[2018-05-29 15:57] SergeyKanzhelev commented on #920
Thank you!

[2018-05-31 08:32] rikbosch opened #928 "Unhandled NullReference exception at PassThroughProcessor.Process crashes application"
Hi,

We've had an application crash, with a stackstrace coming from application insights `PassThroughProcessor`:

(source: windows event-log)
[code]
We have 2 applications reporting with the same insights key.

We're running several instances of these applications in a Service Fabric cluster. The weird thing is that all of the instances crashed, reporting the same stacktrace at the same time in ou

[2018-05-31 09:00] chriswelles commented on #824
I've been fighting with an issue like this.  It appears to be specific to POST calls.  Using ASP.NET Core (2.1 as of today), running on .NET 4.7.1.  Kind of frustrating.

[2018-05-31 12:08] chriswelles opened #929 "HTTP Dependencies not tracked for 0 content-length results under Desktop Framework"
HTTP dependencies are not logged under the Desktop framework if the response has no content (as often happens with POST operations).  Without this understanding of this limitation, it appears to be random.

This has been extremely painful to isolate.  However, I've found by modifying the response with fiddler and making the response have some content, it properly logs the dependency call.  Not sur

[2018-05-31 17:17] lmolkova commented on #929
Thanks for reporting it, I believe we fixed it few days ago: https://github.com/Microsoft/ApplicationInsights-dotnet-server/pull/919

[2018-05-31 17:17] #929 closed

[2018-05-31 17:20] lmolkova commented on #824
@chriswelles I've seen you reported #929, do you believe it is the same issue (0 response) or you think you have other issues for it?

[2018-05-31 18:44] lmolkova opened #930 "Use OWIN middleware to populate custom properties on all telemetry"
Application Insights SDK automatically tracks requests for OWIN apps when they are hosted in IIS

*Note*: request auto-tracking is not supported for self-hosted OWIN apps, please refer [here](https://docs.microsoft.com/en-us/azure/application-insights/application-insights-custom-operations-tracking) for manual instrumentation steps.

Some scenarios require telemetry to be enriched with additional

[2018-05-31 21:16] #892 closed

[2018-05-31 21:17] #393 closed

[2018-05-31 21:18] #769 closed

[2018-05-31 21:28] lmolkova commented on #797
We fixed this issue in ApplicationInsights Web SDK 2.7.0 and Microsoft.TelemetryCorrelation 1.0.3, in case .NET 4.7.1 is installed on the machine. Target framework version does not matter.
Azure App Services do have 4.7.1 already, Cloud Services at the moment of writing do not have 4.7.1 by default (https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-guestos-update-matrix)

So, pl

[2018-05-31 21:28] #797 closed

[2018-05-31 23:53] chriswelles commented on #824
This is looks like a different issue.  I was seeing the correlation headers.

[2018-06-04 16:03] corpdev opened #933 "SQL Text is not being captured"
If you are reporting bug/issue, please provide detailed Repro instructions.

## Repro Steps
1. Azure Mobile Application
2. Migrated to .NET 4.7
3. Installed Nu-Get Packages
4. Enabled Profiler in AI
5. Deploy Application

##  Actual Behavior

SQL Command Text is always - tcp:sql1,1433 | databaseName

## Expected Behavior

SQL Command Text 'select * from tmp'

## Version Info
SDK Version :

Microso

[2018-06-06 02:07] lmolkova commented on #928
Duplicate: https://github.com/Microsoft/ApplicationInsights-dotnet/issues/707

@rikbosch

This likely happens when TelemetryConfiguration got disposed. It happens when TelemetryConfiguration/TelemetryClient and other AI primitives are added as transient in DI frameworks - they should always be singletons.
It may also happen if TelemetryConfiguration.Active is disposed.

Several questions:
- do you

[2018-06-06 14:55] RajasekarPR opened #937 "403 forbidden errors"
When upgrading from the AppInsights version to 2.6.4 , all access to storage results in 403: Forbidden errors.

Do the needful

[2018-06-06 16:06] lmolkova commented on #937
Duplicate: https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/640

It's likely you updated the nuget package version without installing it and don't have proper ApplicationInsights.config that contains following setting for `DependencyTrackingTelemetryModule`

[code]

Please remove AI packages and reinstall them with VS or nuget.

I'm closing this for now, if you experience the

[2018-06-07 09:21] RajasekarPR commented on #937
@lmolkova

Here is the details pls do the needful

.Net Version : 4.5.2
Application Insights version from : 2.2.0 to 2.6.4
ApplicationInsights.Config :+1:
<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
	<TelemetryInitializers>
		<Add Type="Microsoft.ApplicationInsights.DependencyCollector.HttpDependenciesParsingTe

[2018-06-07 16:15] lmolkova commented on #937
@RajasekarPR
could you please provide full ApplicationInsights.config and packages.config?
Also which storage endpoint URL do you use? Is it core.windows.net? Does it repro locally with the emulator?

[2018-06-07 16:41] RajasekarPR commented on #937
ApplicationInsights.Config :
<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
	<TelemetryInitializers>
		<Add Type="Microsoft.ApplicationInsights.DependencyCollector.HttpDependenciesParsingTelemetryInitializer, Microsoft.AI.DependencyCollector"/>
		<Add Type="Microsoft.ApplicationInsights.WindowsServer.AzureRoleEnvi

[2018-06-07 20:43] gpetersOB commented on #904
@lmolkova ,

The .ETL is attached. Thanks in advance!

[PerfViewData.etl.zip](https://github.com/Microsoft/ApplicationInsights-dotnet-server/files/2082010/PerfViewData.etl.zip)

Telemetry captured: dependencies, customEvents, performanceCounters
Telemetry not captured: requests, exceptions

![telemetrycaptured](https://user-images.githubusercontent.com/29411321/41125196-547509ec-6a69-11e8-981e-3d0

[2018-06-08 15:28] lmolkova commented on #937
Ok, is it one of the these?

[code]

If not, please add it to the list in your ApplicationInsights.config

[2018-06-09 10:27] zell12 commented on #929
Could this be a related issue? See attached screenshot.
![image](https://user-images.githubusercontent.com/15136766/41190525-cd84f838-6c12-11e8-89b7-5f4370666590.png)

[2018-06-09 12:06] chriswelles commented on #929
Looks like the same issue to me.

[2018-06-11 19:10] lmolkova commented on #904
@gpetersOB

thanks for the logs!

I do not see any obvious reasons why requests are not collected. TelemteryCorrelation HttpModule is just never invoked.

According to our tests before (#623) it *should* work in classic mode, so it makes me think that your configuration is different from what we tested.

Would you be able to provide a small repro app? It would really help us to solve the problem.

[2018-06-12 18:16] #928 closed

[2018-06-13 18:09] #921 closed

[2018-06-13 18:29] iusafaro commented on #218
GSM pop agents send now Request-Id and Request-Context headers with operation Id and app Id correspondingly. Request-Id has its own value for each web step and that allows correctly map server request to web step from the web test result.

Old headers are preserved for backward compatibility and can be safely removed later when we'll decide that we don't support them anymore.

[2018-06-13 18:29] #218 closed

[2018-06-14 16:14] ShaneCourtrille commented on #856
@OsvaldoRosado Unfortunately I've come to realize that it's a bit more complicated.  A 401 is fine IF it's followed up by a 200 for the same request.  If not then a 401 is an error.  I'm curious if the AppInsights architecture would actually allow for this distinction though.

[2018-06-15 18:46] lmolkova opened #941 "Correlation does not work within WCF service"
If you are reporting bug/issue, please provide detailed Repro instructions.

When WCF service makes async call to http/sql/other dependency, writes traces, or reports exceptions, child telemetries do not correlate to the request telemetry.

It happens because WCF prevents ambient correlation context to flow with the request.
WCF is working to improve this story in future.

# Workaround

Use WCF be

[2018-06-19 23:29] Dmitry-Matveev commented on #933
SQL Command Text is only collected in AI if one of the following conditions is met:

- .NET Profiling is enabled on the process (sounds similar but not the same as AI Profiler): either Status Monitor is installed on Virtual Machine or AI Web Site Extension is used - they will drop necessary binaries
- Newest .NET core is used with the latest AI .NET Core SDK (this will collect SQL calls via Entity

[2018-06-20 00:52] Dmitry-Matveev commented on #824
@andrasg / @cijothomas - were you able to get a repro app to try this out?

[2018-06-20 16:45] cijothomas commented on #933
I'll need to confirm if we ever collect full SQL statement in .NET Core.
https://github.com/Microsoft/ApplicationInsights-aspnetcore/issues/705

[2018-06-20 18:43] corpdev commented on #933
AI Web Site Extension is installed.   I confirmed.   Located in 'home\SiteExtensions\Microsoft.ApplicationInsights.AzureWebSites\2.6.2\Instrumentation64'

Environment variable COR_Enable_Profiling was missing.   Got a little excited, could this be the missing piece?  (Said like they Oak Island narrator)  Excitedly, I added it; setting it to 1, as per documentation I found on-line.   Restarted the

[2018-06-20 22:59] clguimanMSFT commented on #933
@corpdev Do you have any other installed site extensions or custom applicationHost.xdt files?

Please check the following environment variables:
MicrosoftAppInsights_ManagedHttpModulePath
MicrosoftAppInsights_ManagedHttpModuleType
COR_ENABLE_PROFILING
COR_PROFILER
COR_PROFILER_PATH_32
COR_PROFILER_PATH_64
MicrosoftInstrumentationEngine_Host
MicrosoftInstrumentationEngine_HostPath_32
MicrosoftInstr

[2018-06-28 01:19] Dmitry-Matveev opened #942 "Recently added configuration options for Diagnostic Source providers are missing from official documentation"
[Copied from ApplicationInsights-Home repo](https://github.com/Microsoft/ApplicationInsights-Home/issues/235):

ApplicationInsights is great but the `applicationinsights.config` file has a lot of settings which aren't comprehensively documented. Since this is telemetry we're talking about, disclosure is critical for integrity and privacy (especially for the installation defaults).

The closest ref

[2018-06-28 19:08] lmolkova opened #943 "AppServicesHeartbeatTelemetryModule is not initialized properly if TelemetryConfiguration.Active is not set"
If you are reporting bug/issue, please provide detailed Repro instructions.

## Repro Steps
1. Create `AppServicesHeartbeatTelemetryModule`
2. Create new TelemtreyConfiguration
3. Initialize heartbeat module with the new configuration

##  Actual Behavior
no heartbeats reported. The module tries to find `IHeartbeatPropertyManager` in static singleton `TelemetryModules.Instance`.

The latter is set

[2018-06-29 15:51] marclallen opened #944 "SQL Dependency Tracking with WCF in a Windows Service"
I've got a WCF Service hosted in a Windows Service.  When I run it locally on my machine (via VS Debugger), I get SQL Dependency Tracking.

However, when I deploy it to an Azure VM, I no longer receive the dependencies.  The service is compiled under 4.6.1 and I have AI 2.6.4 installed.

Is SQL Dependency supported for this scenario?

Thank you!

[2018-07-01 22:52] sadjadbp commented on #176
+1 for this feature

[2018-07-03 15:32] wilsondy opened #946 "Http Dependencies not passing through ITelemetryProcessor"
If you are reporting bug/issue, please provide detailed Repro instructions.

## Repro Steps
1. Update Projects as follows:
<img width="695" alt="screen shot 2018-07-03 at 11 29 31 am" src="https://user-images.githubusercontent.com/2896543/42229416-73c2d75c-7eb4-11e8-82b2-35e98831bfdf.png">

2. Run project with an ITelemetryProcessor with this flavor of filtering
[code]

##  Actual Behavior
 Nothin

[2018-07-03 16:37] lmolkova commented on #946
Perhaps you are adding your telemetry processor to TelemetryConfiguration.Active and hitting https://github.com/Microsoft/ApplicationInsights-aspnetcore/issues/704

Please use TelemetryConfiguration obtained from the dependency injection container instead, there are more details in the issue above.

I'm closing this for now, feel free to reopen if you feel this is a different issue.

[2018-07-03 16:37] #946 closed

[2018-07-09 22:22] Dmitry-Matveev commented on #944
Dependency collector module should be initialized to collect dependencies. This happens automatically for ASP.NET applications in IIS (based on web.config and applicationinsights.config) and may not happen for Windows Services. If you do not see AI Dependency Collector dll loaded into the service process on Azure VM, then, most likely, you'd need to manually initialize it:

`new DependencyTracking

[2018-07-13 16:49] #834 closed

[2018-07-13 16:49] #863 closed

[2018-07-13 16:50] #866 closed

[2018-07-13 16:50] #872 closed

[2018-07-13 16:51] #874 closed

[2018-07-13 16:51] #875 closed

[2018-07-13 16:54] lmolkova commented on #834
perhaps this is the same issue: https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/943

[2018-07-19 10:22] SainiAshish opened #953 "Is there any way to get the diagnostics data from event hub and service bus queue to Application insghits?"
We want to move the diagnostics data which include metrics like incoming messages and outgoing messages to application insights. Currently there is no way to move that data.

[2018-07-19 16:58] SergeyKanzhelev commented on #953
Event Hub metrics should be available in metric explorer in Azure Portal. Are they not?

[2018-07-19 21:30] srijan55 commented on #953
Service bus and EventHubs metrics are available to be plotted in the Metrics(preview) experience of Azure Monitor.  Metrics(preview) on Azure monitor also enables you to plot your application insights metrics along with these, if you want to find correlation etc. Hope this helps.

[2018-07-23 21:21] lmolkova opened #956 "Not possible to use public types in Common (shared classes) outside of Web SDK"
If you are reporting bug/issue, please provide detailed Repro instructions.

## Repro Steps
1.  Try to use StringUtilities in AspNetCore SDK

##  Actual Behavior
StringUtilities is defined in PerformanceCollector, DependencyCollector, and WindowsServer.
Typical way to work it around is to add alias on the assembly and use `extern alias` it in the code to force specific assembly usage.
However it d

[2018-07-23 21:22] lmolkova commented on #956
@MS-TimothyMothra @Dmitry-Matveev

[2018-07-23 21:46] SergeyKanzhelev opened #957 "Http status code >=400 returned from middle ware is not showing as response codes in failure section of the application insights telemetry"
Reported by @sajibcefalo: https://github.com/Microsoft/ApplicationInsights-Home/issues/239

[2018-07-23 21:51] SergeyKanzhelev commented on #957
I was able to repro it with the simple app with one middleware registered. This app returns status 403 and application insights reports: `"responseCode":"200",`

[code]

[code]

[2018-07-24 18:33] SergeyKanzhelev commented on #957
One workaround I found so far - in `Global.asax' do something like this:
1. using telemetry processor filter out initial requests
2. override and track request telemetry again from `EndRequest` callback

[code]

[2018-07-24 19:49] lmolkova commented on #957
why don't we track it without workaround?

[2018-07-24 20:52] SergeyKanzhelev commented on #957
@lmolkova I'm not sure what you mean. We need to track this issue and workaround is just a temporary solution

[2018-07-25 09:02] lolbro-pl commented on #676
I am facing the same issue using version 2.6.4 when the SDK is added to the Windows Service.

[2018-07-25 09:07] lolbro-pl opened #959 "Telemetry is not sent when a service is being stopped"
If you are reporting bug/issue, please provide detailed Repro instructions.

## Repro Steps
1.  Create windows service
2. Add the AI SDK to it, version 2.6.4
3.  Override OnStop method and send any telemetry to the AI, for instance: TrackEvent
4. Install the service
5. Run and Stop it a couple of times

##  Actual Behavior
The telemetry is not sent from OnStop method

## Expected Behavior
The tele

[2018-07-25 14:52] jiberan opened #960 "Provide sample how to implement custom TelemetryModule"
Please, provide sample with best practices how to implement custom TelemetryModule.

**Example:**
Custom AvaliabilityModule which will periodically send AvailabilityTelemetry.

[code]
**Unclear questions:**

1.  when should be created instance of TelemetryClient?
2.  what is SdkInternalOperationsMonitor for? It's for internal use only, or also for custom Module like this?

Thank you!

[2018-07-29 05:36] sajibcefalo commented on #957
@SergeyKanzhelev  : Is there expected timeline when the version 2.8 will be released?

[2018-07-31 00:16] Dmitry-Matveev commented on #957
@sajibcefalo, the bug is currently assigned to 2.8 which is expected to ship in ~3 months. We haven't run prioritization on 2.8 yet (expecting some overflow from 2.7), we'll know more details in couple weeks.

[2018-08-01 03:55] BreakingPanda commented on #676
Exact same issue as @lolbro-pl

[2018-08-02 04:05] ifle opened #965 "[Question] Is there a way to intercept all AI messages?"
Is there a way to intercept all AI messages?
I need add prefix text to all messages.

[2018-08-03 12:51] Vossekop commented on #176
I'm also very keen to see this improved.

[2018-08-03 16:52] reachravig opened #968 "ApplicationInsights on Owin Self-Host (dependency call tracking)"
We are using ApplicationInsights on Owin Self-Host application, the dependency calls are getting tracked in SDK version 2.2 and 2.3 anything above 2.3 is not working.

[2018-08-03 17:00] reachravig opened #969 "Dependency calls to cosmosdb (graph) implementation"
We have a cosmosdb (graph) implementation via web socket where the application is maintaining singleton.
We fired multiple requests to the endpoint, only the first request shows the dependency call to the cosmosdb (graph) and the subsequent doesn’t, is this expected?

[2018-08-03 17:15] cijothomas commented on #968
@reachravig Thanks for opening this on Github!
Can you post a sample code snippet which makes http calls?

Please tell us the version of  `System.Diagnostics.DiagnosticSource` you are using?
Please confirm the  .NET Framework or .NET Core version?

(
2.4 onwards, the default dependency collection mechanism has changed from EventSource to DiagnosticSource based. So your issue must have got somethin

[2018-08-03 17:53] lmolkova commented on #969
do you specify [TCP connection policy](https://azure.microsoft.com/en-us/blog/performance-tips-for-azure-documentdb-part-1-2/)? ApplicaitonInsights supports HTTP connections only.

If you use HTTP, you probably experience https://github.com/Microsoft/ApplicationInsights-dotnet-server/pull/919 or https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/739

Please try Dependency Collec

[2018-08-03 17:53] #969 closed

[2018-08-03 18:43] reachravig commented on #968
@cijothomas
"System.Diagnostics.DiagnosticSource" version="4.4.0" targetFramework="net461"
it's .NET Framework 4.6.1
I can try with the latest SDK, with the DependencyTrackingTelemetryModule configured with DisableDiagnosticSourceInstrumentation = true, and will share the results.
I have emailed you the code and repo.

[2018-08-03 21:14] reachravig commented on #969
Adding few more details:

We make calls to Azure blob as well as cosmosdb (graph) and other HTTP endpoints.
The dependency calls to Azure blob and other HTTP endpoints are always captured, where as only the first call to cosmosdb(graph) is captured as a dependency.
![capture](https://user-images.githubusercontent.com/17468213/43665920-af1cbcc0-9726-11e8-9bcf-f9ac5558d320.PNG)

![capture1](https://

[2018-08-04 00:29] lmolkova commented on #969
Have you tried 2.7.0 version? Does it reproduce on 2.7.0 as well?

[2018-08-06 22:19] lmolkova commented on #969
It seems Gremlin uses `ClientWebSocket` from .NET to communicate to the Cosmos DB and unfortunately we don't support web sockets auto tracking. You can still track these calls manually, please refer to [this article](https://docs.microsoft.com/en-us/azure/application-insights/application-insights-custom-operations-tracking) for more details

[2018-08-07 00:55] reachravig commented on #969
Thanks for the update, @lmolkova , infact we are using "HTTP request in Owin self-hosted app" mentioned in the article you referred above, will look into this piece as well "Outgoing dependencies tracking" and use it as appropriate.
The only thing puzzling is, it's able to track the first call to cosmosdb(graph).

Thanks again!

[2018-08-08 16:30] lmolkova commented on #969
@reachravig I can try to dig into the first call tracing if you could provide a small app that reproduces the problem (please strip all credentials).

[2018-08-08 20:42] lmolkova opened #970 "ServiceBus correlation is broken in 2.7.1"
ServiceBus correlation is broken in 2.7.1: request (message processing) is not correlated to the dependencies (send operation)

[2018-08-08 22:31] reachravig commented on #969
Sure, will send you our code sample and details via email.

[2018-08-08 22:44] lmolkova opened #972 "Generic diagnostic source listener does not set internal SDK version"
All requests and dependencies reported by generic diagnostic source listener have 'dotnet' internal SDK version.

We should create a new rdds* name for it.

[2018-08-09 17:39] vincec-msft opened #973 "Perf suggestion: Cache version info in GetSdkVersion"
SdkVersionUtils.GetSdkVersion is called often and does a lot of work to get the version info from the assembly housing SdkVersionUtils.

That information doesn't change so can it be cached the first time it's called? Both version and postfix are caching candidates, then the function would just have to do some string concatenation and no expensive reflection.

https://github.com/Microsoft/Applicati

[2018-08-09 18:03] lmolkova commented on #973
@vincec-msft you are right that it could be optimized, thanks for reporting it.

I believe we call it several times during the startup and then store it in telemetryClient.

so did you notice specific places where GetSdkVersion is called after startup is completed?

[2018-08-09 19:11] lmolkova commented on #973
Operation Ids on the telemetry client is an unfortunate thing, we actually never use them. Operation ids are set on each telemetry item  (`ITelemetry.Context.Operation` has `Id` and `ParentId` and there is an `OperationTelemetry.Id`) rather than on client and are never cached.

More on ids [here](https://docs.microsoft.com/en-us/azure/application-insights/application-insights-correlation)

You can

[2018-08-10 00:31] lmolkova opened #974 "Flaky test: OnEndExceptionAsyncDoesNotSendTelemetryIfSuccess_1ArgumentOverride"
[code]

https://mseng.visualstudio.com/AppInsights/AppInsights%20Team/_build/results?buildId=6926408&view=ms.vss-test-web.test-result-details

[2018-08-10 17:55] KenBrannigan opened #977 "Custom ITelemetryInitializer being called multiple times"
Hello,
We have a custom ITelemetryInitializer that looks to see if the ITelemetry is an ExceptionTelemetry type and if so does some custom logging. When we upgraded to the latest AI NuGet packages we noticed a new module added to our web.config, TelemetryCorrelationHttpModule. With this module in the web.config we noticed our custom ITelemetryInitializer is being called more than once where the IT

[2018-08-10 18:00] lmolkova commented on #977
This is expected behavior, telemetry initializers could be called more than once. please design them accordingly.

https://github.com/aspnet/Microsoft.AspNet.TelemetryCorrelation/issues/31#issuecomment-412152885

[2018-08-10 18:00] #977 closed

[2018-08-12 12:56] shibayan commented on #676
I have found a solution partially for this problem.
Add a line to the Dockerfile and grant permissions to the IIS executing user.

[code]

It worked well in the local Hyper-V Containers and Azure Container Instances. However, since Web App for Windows Containers did not work, there seems to be more problems.

[2018-08-12 23:16] BreakingPanda commented on #676
I'm using Web App container hence cannot modify the permission of my App Pool user. Thanks @shibayan for the suggestion.

[2018-08-28 16:51] MS-TimothyMothra opened #982 "Re-Enable Warnings as Errors"
Need to re-enable Warnings as Errors when all FxCop issues have been addressed.

https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/261c71dce741bca9bffa45cbc118aa625c233af1/Common.props#L15-L16

https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/261c71dce741bca9bffa45cbc118aa625c233af1/Common.props#L30-L31

Should only enable for Release builds.

[2018-09-07 17:27] EvanMulawski opened #988 "Misspelling of activity name in ClientServerDependencyTracker"
https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/af20672f42145b837bf50b48e30e8427ca817e2d/Src/DependencyCollector/Shared/Implementation/ClientServerDependencyTracker.cs#L13

[2018-09-07 21:09] yf3333 opened #989 "Some requests are not tracked by Application Insights"
Figured out that it's due to web.config file is not set up correctly.

[2018-09-07 22:52] cijothomas opened #991 "Add Livemetric TelemetryProcessor to the Default sink instead of on common pipeline."
Similar to being done for asp.net core, https://github.com/Microsoft/ApplicationInsights-aspnetcore/pull/753, need to modify XDT transformations so that QuickPulse is added into the default sink's TP, and not on the main telemetry processor pipeline.

[2018-09-10 22:14] CGSK opened #993 "Adding Custom Telemetry Initializer throwing Exception"
App Insight custom telemetry initializer works fine(thro VS 2017) locally but throws exception on App Service Web App hosting

"The specified CGI application encountered an error and the server terminated the process."
502 Bad Gateway

.NET 4.6.2 Web Api - OWIN based

## Repro Steps
1. Create a basic telemetry custom initializer and properly configure it (AppInsights.Config and web.config relevant

[2018-09-11 17:40] Svisstack opened #994 "CPU leak infinite loop"
If you are reporting bug/issue, please provide detailed Repro instructions.

## Repro Steps
1.  Create a task with SQL code which ending after the request is finished
2.  Occasionally thread stuck in an infinite loop

More discussion: https://github.com/Microsoft/ApplicationInsights-aspnetcore/issues/690#issuecomment-420324593

##  Actual Behavior
Occasionally thread stuck in an infinite loop

![1

[2018-09-13 01:06] #993 closed

[2018-09-13 03:10] #970 closed

[2018-09-13 03:11] lmolkova opened #998 "AzureRoleEnvironmentTelemetryInitializer is not available on netstandard"
It should be as it does not have any platform-dependent code

[2018-09-14 01:59] cijothomas commented on #994
Is this an asp.net core application targeting .NET Framework?
Can you try to the remove the following TelemetryInitializers and confirm if it helps? These are the 2 default initializers accessing http headers, so this can isolate the issue and I can work on fix.
`SyntheticTelemetryInitializer` and `ClientIpHeaderTelemetryInitializer`

This section has example on how to remove individual TelemetryI

[2018-09-14 14:32] Svisstack commented on #994
Yes.

I don't have the possibility to work on that further, but I will recommend analyzing the great input in the linked thread https://github.com/Microsoft/ApplicationInsights-aspnetcore/issues/690#issuecomment-420324593 where this issue was already analyzed and problem isolated by confirming hypothesis related to the source of it.

[2018-09-14 21:05] #982 closed

[2018-09-14 23:19] MS-TimothyMothra opened #1004 "[3.0] Evaluate SuppressMessages"
We have several Suppress Messages in our code base.
Many of these are easy to fix but would cause a change to our public api.

3.0 will be our only chance to clean these up.

[2018-09-19 13:57] AC740 commented on #569
modules already have ApplicationInsightsWebTracking
<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />

Do I need to add this as well after that?
<add name="ApplicationInsightsHttpModule" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondit

[2018-09-19 19:10] Dmitry-Matveev commented on #569
@AC740, name is the only difference between the two modules you mentioned, so you won't need to register the same module with the different name again. You'd need to make sure that you have both types registered, `Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule` and `Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule`:

      <add name="TelemetryCorrelationHttpMod

[2018-09-24 18:17] #989 closed

[2018-09-25 21:04] lmolkova commented on #998
#fakenews. it's available

[2018-09-25 21:04] #998 closed

[2018-09-26 00:19] lmolkova opened #1009 "Current Activity is null for event"
We have a bunch of errors like:

Current Activity is null for event = 'System.Net.Http.HttpRequestOut.Stop'

it also affects ServiceBus.Receive and Process.

It prevents telemetry from being collected.

I was not able to reproduce it and cannot imagine a valid case where this could happen.  It indicates some bug.

[2018-09-26 14:59] Chewbizz opened #1011 "Dependency telemetry target is replaced by hostname"
I'm using Java SDK to send custom telemetry to AppInsights.
When sending HTTP Dependency telemetry (for REST calls) with a specific "target" value, this value is replaced on the server side by the REST server's hostname.
Whereas when sending other Dependency telemetry such as database calls, the "target" value is correctly used on the server side.

For instance, if I send a (HTTP) Dependency telem

[2018-09-26 16:15] cijothomas commented on #1011
https://github.com/Microsoft/ApplicationInsights-dotnet/issues/898 Duplicate?
We can track it in the other issue.

[2018-09-26 16:15] #1011 closed

[2018-09-26 16:33] Chewbizz commented on #1011
Yes, this is a duplicate. I searched before posting, but I missed to search on ApplicationInsights-dotnet
repo. Thanks a lot for the fast reply.

[2018-09-27 01:59] lmolkova commented on #1009
Ok, so I was able to find the root cause of this issue and repro it locally.

Apparently, it happens when multiple apps are hosted in the same process (somewhat typical for ServiceFabric and possible on AspNet Core).

In this case, each app initializes its own AppInsights pipeline and multiple modules start working in parallel.

Because of changes done in https://github.com/Microsoft/ApplicationIn

[2018-09-27 01:59] #1009 closed

[2018-09-27 07:38] RadoslavGatev opened #1015 "Auth User ID feedback and improvements"
I would expect "Auth User Id" be logged with each telemetry request when using [AuthenticatedUserIdTelemetryInitializer](https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/3cc166e3c9ec9d3f4ce77f48d3ab8c6bd6218808/Src/Web/Web.Shared.Net/AuthenticatedUserIdTelemetryInitializer.cs).
App Insights currently logs `Auth User Id` only via the AJAX call from the front-end. The cookie conta

[2018-09-27 12:42] zihotki commented on #913
I wonder how this aligns with the new OpenCensus buzz? The question may be a bit premature but given that MS joined OpenCensus and there is some progress with .Net implementation but anyway what is the current strategy?

[2018-09-27 17:03] vancem commented on #913
It is our intent that OpenCensus support should be orthogonal to DiagnosticSource.   The events generated by DiagnosticSource should work fine in OpenCensus.   Until we have end-to-end scenarios fully deployed and used, there can always be issues, but that is our intent/design so far.

[2018-10-01 04:50] dennis-yemelyanov commented on #536
It looks like Request-Id header is also added even when `SetComponentCorrelationHttpHeaders` is set to _false_ in ApplicationInsights.config. Any plans to release a fix for this soon?

[2018-10-01 17:47] cwe1ss commented on #536
Because we just don’t want to send arbitrary/unnecessary headers to external systems.

I’d also argue that there is a small information leakage with it: it tells the recipient that the caller is a .NET client (because it’s a proprietary header)! It also tells the recipient that there is an active tracer. This could be exploited if the client can call back to the app somehow - e.g. to flood the app

[2018-10-02 00:43] lmolkova commented on #988
thanks for the contribution!

[2018-10-02 00:43] #988 closed

[2018-10-02 02:05] Dmitry-Matveev commented on #1015
@RadoslavGatev. as far as I know, upon cookies review in response to the "cookie law", Auth User Id was deemed as non-essential cookie that would require user consent to be dropped and leveraged. We would not be able to simply package this value into a separate cookie as a workaround - that would be placing non-essential information into the "essential" user ID cookie...

Long story short, I can s

[2018-10-02 16:31] i3arnon opened #1026 "Allow users to ignore specific UnobservedTaskExceptions"
Sometimes you encounter `UnobservedTaskException`s that are outside of your control (e.g. in third-party libraries or in the framework itself).
Currently you can either have them mixed in with the fixable `UnobservedTaskException`s which lowers signal-to-noise ratio, or you must remove the entire `UnobservedExceptionTelemetryModule`.

It would be useful to have some way to ignore specific `Unobser

[2018-10-03 06:31] SergeyKanzhelev commented on #1026
Can you please also provide a code example on how you propose to ignore some of them.

[2018-10-03 10:11] i3arnon commented on #1026
You can ignore them by subscribing to `TaskScheduler.UnobservedTaskException` and marking them as observed.

For example this ignores all `ObjectDisposedException` and exceptions coming from `UdpClient.EndReceive`:

[code]

[2018-10-05 18:29] srozga opened #1032 "Why are all requests set to Synthetic Source Bot?"
I'm confused about the goal of SyntheticUserAgentTelemetryInitializer. I was trying to filter telemetry but I noticed that 99% of the requests collected in App Insights from our Azure deployed app have a synthetic source "Bot". That's confusing.... I then looked at the code in SyntheticUserAgentTelemetryInitializer, and it is clear this is setting that synthetic source. But why?

My approach was g

[2018-10-08 14:50] udi12 opened #1033 "ASP.NET MVC application with windows authentication NTLM 401 challenge do not log the 200 response."
If you are reporting bug/issue, please provide detailed Repro instructions.

## Repro Steps
1.  ASP.NET  MVC website hosted on windows server 2012 standard
2. Browsing to pages introducing the 401 challenge

##  Actual Behavior
AI only logs the 401 responses

## Expected Behavior

AI should Log the 401 + 200 responses

## Version Info
SDK Version :
.NET Version : 4.5
How Application was onboarded

[2018-10-08 17:39] lmolkova commented on #1033
@udi12 thanks for reporting it.
- Please let us know what is the SDK version you are using?
- it is requests or dependencies that are missing (with 200 response)
- provide applicationinsights.config  and web.config (strip all sensitive information please)

[2018-10-09 00:54] dennis-yemelyanov commented on #536
I guess the reason to disable this header is the same as why `SetComponentCorrelationHttpHeaders` was introduced in the first place - to give more control over things that happen implicitly behind the scenes and may have undesired effects, from increased network traffic to exposing potentially sensitive information (Activity.Id can be set to anything by a developer without realizing it will be sen

[2018-10-09 06:45] udi12 commented on #1033
Hi!
1. I dont know if thats what you mean but the Microsoft.ApplicationInsights.dll file version is 2.4.0.32153

2. When trying to investigate/resolve a web issue, first we try to locate the request and then drill down by *Operation ID* with analytics,.... some of the requests we try to investigate are having just the initial 401 request/response (which is orphaned) and not the 200 request/respons

[2018-10-09 13:20] cijothomas commented on #1032
`SyntheticUserAgentTelemetryInitializer` sets sythentic source based on user agent. Does all your request have a user agent from this list? -search|spider|crawl|Bot|Monitor|AlwaysOn
https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/develop/Src/Web/Web/net45/ApplicationInsights.config.install.xdt#L8

You can add/remove the above set of names in you applicationinsights.config to co

[2018-10-09 14:40] srozga commented on #1032
Thank you for the response. I'm using the Azure Bot Service, so that explains things! The UA is: "BF-DirectLine (Microsoft-BotFramework/3.2 +https://botframework.com/ua)".

How would I allow BotFramework but disallow any other mention of "bot"?

[2018-10-09 16:32] cijothomas commented on #1032
@srozga In the current implementation of `SyntheticUserAgentTelemetryInitializer`, its not possible to exclude 'BotFramework', but include other 'Bot' as it is doing a simple `IndexOf` lookup in the user agent.(https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/develop/Src/Web/Web.Shared.Net/SyntheticUserAgentTelemetryInitializer.cs#L69)

You'll have to implement own TelemetryInit

[2018-10-09 19:59] lmolkova commented on #536
I understand your concern and appreciate your feedback.

HttpClient does not have this setting. We can disable tracking together with injections, but not just the injection. There are many tradeoffs here and preventing injection to some specific endpoint adds performance impact we did not want to introduce.

The cluster boundary is blurred and your diagnostics experience may benefit from propagati

[2018-10-09 20:56] dennis-yemelyanov commented on #536
I think disabling tracking together with injections is a good tradeoff. What is the recommended way to do it for a specific HttpClient call (without disabling dependency tracking completely)? From the documentation it looks like some delegate needs to be passed to listener.Subscribe(), but I guess that is already done by Application Insights? It would be ideal if tracking could be disabled by some

[2018-10-09 22:03] Hyjaz opened #1038 "AZURE SERVICEBUS - Current Activity is prematurely stopped. Should be stopped once all observers have been notified!"
## Repro Steps
1. Subscribe a new Observer on `"Microsoft.Azure.ServiceBus"`
2. On streams of incoming events use Activity.Current to get the current activity and log some properties for the current activity, such as the Root_Id for example.

##  Actual Behavior

Activity.Current is null, because it is stopped on [ServiceBusDiagnosticsEventHandler line 67](https://github.com/Microsoft/ApplicationI

[2018-10-09 23:12] lmolkova commented on #1038
thanks for submitting it! you are right. Here is the code responsible for it:

https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/develop/Src/DependencyCollector/Shared/Implementation/EventHandlers/ServiceBusDiagnosticsEventHandler.cs#L40

[2018-10-10 01:10] Hyjaz commented on #1038
For now until this is resolved, one way to get around this, is to subscribe the custom observers that listen on `Microsoft.Azure.ServiceBus` before ServiceBus's observer is subscribed.

One of the problem with this workaround is that, the current activity will not have the duration. The duration will need to be calculated manually by the client.

[2018-10-10 01:12] lmolkova commented on #1038
We'll fix it in 2.9. Could you please share your scenario where you need an additional subscriber?

[2018-10-10 16:22] Hyjaz commented on #1038
We are making use of TrackEvent so that we can pass it properties other than the ones passed by default with Microsoft.Azure.ServiceBus which makes use of the Trace api. Just a different way of tracking I guess...

[2018-10-10 17:45] lmolkova commented on #536
This is not possible. You may either disable all requests tracking or enable tracking and propagation. There is no way to disable tracking for a particular request.

[2018-10-10 17:47] lmolkova commented on #1038
can you call TrackEvent during message processing, not after it or you rely on some payloads that ServiceBus sends in Stop events?

[2018-10-10 17:54] Hyjaz commented on #1038
I rely on some payloads that ServiceBus sends in Stop events

[2018-10-15 21:08] #1038 closed

[2018-10-16 22:49] iusafaro opened #1046 "Hearbeat package from Azure App Service missing correct resource group name"
Heartbeat package generated from Azure App Service not necessarily has the correct information about resource group:
Current implementation relies on the format of the WEBSITE_OWNER_NAME environment variable exposed on App Service: <subId>+<resGroup>-<location>webspace, but there can be cases where <resGroup> is not the name of actual resource group. For instance names don't match after resource w

[2018-10-16 23:44] iusafaro commented on #1046
Added

[2018-10-16 23:44] #1046 closed

[2018-10-17 03:15] TsuyoshiUshio opened #1048 "Enable Azure Search Parser"
Hello, This is not an issue.

We'd like to add Azure Search Parser. If you guys are OK, we'd like to contribute with @k-miyake and @shibayan .

https://github.com/Microsoft/ApplicationInsights-dotnet-server/tree/develop/Src/DependencyCollector/Shared/Implementation/HttpParsers

Do you know if someone is working on this?

[2018-10-18 17:42] lmolkova commented on #1033
@udi12
by ApplicationInsights SDK version I mean the version of nuget packages. We have fixed several issues related to http calls tracking, could you please update to version 2.8 and try to reproduce the issue?

Thanks!

[2018-10-18 18:01] lmolkova opened #1049 "If TelemetryCorrelationHttpModule is not the first in pipeline, correlation may be broken"
1. Some http module reports telemetry implicitly (make auto-tracked http call) or explicitly (Telemetry1)
2. We start an Activity during telemetry initialization (Activity1)
2.1 Activity might be lost here
3. When TelemetryCorrelationHttpModule gets BeginRequest, it starts a new Activity (Activity2)
4. User tracks telemetry (auto or manually) (Telemetry2)
5. Request ends, we track it (Request)

Ho

[2018-10-18 22:19] lmolkova commented on #1048
@TsuyoshiUshio nobody should be working on this.

@SergeyKanzhelev, @Dmitry-Matveev  I remember we have additional logic on Breeze to parse dependency kinds. Do you think it makes sense to enable Azure Search dependency type parser in .NET SDK or we'd rather change Breeze to support all SDKs?

[2018-10-19 13:01] s-krawczyk commented on #648
+1

[2018-10-19 16:04] SergeyKanzhelev commented on #1048
@lmolkova it is important to implement this logic in the layer that does pre-aggregation. Application Insights endpoint is a last resort in that case for SDKs that doesn't have any pre-aggregations. Ideally do it in SDK and than in local forwarder

[2018-10-19 16:05] SergeyKanzhelev commented on #1048
@TsuyoshiUshio we welcome contributions! Azure Search support would be great!

[2018-10-20 16:09] srozga commented on #1032
@cijothomas I created a subclass of `SyntheticUserAgentTelemtryInitializer` that includes a pipe-delimeted exclude field. Anything in the exclude skips the logic in `SyntheticUserAgentTelemtryInitializer`. Here's the code. Any feedback on the approach if I create a PR with this change?

[code]

[2018-10-21 04:02] TsuyoshiUshio commented on #1048
Thank you, @lmolkova and @SergeyKanzhelev ! We’ll work on that with @k-miyake and @shibayan

[2018-10-23 07:30] tomaszzmuda commented on #648
Still doesn't work.

[2018-10-23 07:34] AndrzejWroGM commented on #648
+1

[2018-10-23 07:35] AdrianStrugala commented on #648
+1

[2018-10-23 23:39] SergeyKanzhelev commented on #1048
@TsuyoshiUshio let us know if you need some help

[2018-10-24 06:44] dennis-yemelyanov opened #1088 "SEHException from QuickPulseTelemetryModule.StateThreadWorker"
When using Application Insights in .NET console application, sometimes the process crashes with below exception. Although the exception itself comes from .NET code, it looks like this code is called from QuickPulseTelemetryModule. Any ideas what might be causing this error?

## Version Info
SDK Version : 2.7.2
.NET Version : 4.6.2
How Application was onboarded with SDK(VisualStudio/StatusMonitor/A

[2018-10-24 09:14] shibayan commented on #1048
I just implemented Azure Search parser. Please review my PR.

[2018-10-26 19:21] ArturDorochowicz opened #1090 "Sql dependency tracking broken in 2.8.0+. Dependency operation is not stopped and becomes parent of subsequent operations"
This is a bug in versions 2.8.0+ (checked 2.8.0 and 2.8.1). It does not happen in 2.7.2 (also checked 2.5.1).

## Repro Steps
Create a console application with code like this:
[code]

Full repro solution attached.
[ConsoleApp1.zip](https://github.com/Microsoft/ApplicationInsights-dotnet-server/files/2520572/ConsoleApp1.zip)

##  Actual Behavior
When using 2.8.0 the app prints:
[code]

Note that ac

[2018-10-27 00:42] lmolkova commented on #1090
Thanks for reporting it and providing the repro app.

It reproduces when Activity happens out of the parent (request scope). One way to fix it may be to call it (and other related items) within a scope of operation:

[code]

[2018-10-27 08:00] ArturDorochowicz commented on #1090
I had tried something like what you suggest before submitting the issue. It doesn't actually help. The output is then similar to this:
[code]
The root id is now a base64-like value instead of guid-like value which shows that it comes from request telemetry instead of dependency telemetry, but it's still a wrong behaviour overall.

[2018-10-29 17:15] lmolkova opened #1093 "QuickPulseServiceClientSubmitsCollectionConfigurationETagToService flaky test"
Test method Microsoft.ApplicationInsights.Tests.QuickPulseServiceClientTests.QuickPulseServiceClientSubmitsCollectionConfigurationETagToService threw exception:
System.InvalidOperationException: Sequence contains no elements

https://dev.azure.com/mseng/AppInsights/_build/results?buildId=7600941&view=ms.vss-test-web.test-result-details

[2018-10-29 17:42] lmolkova commented on #1090
@ArturDorochowicz you are right, sorry for misleading info.
Another approach is to call `Activity.Current.Stop()` right after SQL call.

I've submitted PR #1091 to fix it, fix will be shipped in 2.9-beta1.

[2018-10-29 18:44] ArturDorochowicz commented on #1090
@lmolkova It's a bummer it won't land in a quick patch release for 2.8. After all it's quite a critical issue - one sql in the app and all the telemetry get's screwed.

[2018-10-30 20:08] cijothomas opened #1094 "Avoid calling TelemetryClient.Initialize() explicitly to set instrumentation keys"
Once this issue is fixed in base sdk (https://github.com/Microsoft/ApplicationInsights-dotnet/issues/966), modify RequestCollector telemetry module to use the new API, to improve perf and avoid customer confusion.

[2018-10-30 20:35] cijothomas opened #1095 "LiveMetrics(QuickPulse) need to try to filter out dependencies to QuickPulse service"
QuickPulseTelemetryProcessor, which is added **before** sampling and all other telemetry processors by default, does examine every dependency item to check if it is a call made to quickpulse service itself.
https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/develop/Src/PerformanceCollector/Perf.Shared/QuickPulseTelemetryProcessor.cs#L151

However, the DependencyCollection module a

[2018-10-31 15:16] #1090 closed

[2018-10-31 16:00] cijothomas commented on #1095
@tokaplan Any comments on this?

[2018-10-31 16:13] lmolkova opened #1096 "*_HttpDependencyCorrelationInPostRequest flaky test"
https://dev.azure.com/mseng/AppInsights/_build/results?buildId=7634250&view=ms.vss-test-web.test-result-details

[2018-10-31 18:29] tokaplan commented on #1095
Two situations to keep in mind here
1. QuickPulse is inactive. In this case, if DependencyCollector telemetry processor has logic to filter out calls to any AI backend, including QPS, it is indeed a good idea to remove this check. This was never brought up at the time, so maybe DependencyCollector did not have that logic back then, or it simply didn't occur to anyone to add QPS to that list.
2. Qu

[2018-11-01 12:32] sajibcefalo commented on #957
What's the latest update of this bug? Is it going to fixed on next release 2.9.0 and if so, when will 2.9 will be released?

[2018-11-01 17:43] cijothomas commented on #1095
This was done in https://github.com/Microsoft/ApplicationInsights-dotnet-server/pull/401/files which was mid 2017. The original check was added prior to that.

I will do manual testing to ensure this is the case before removing the additional check anyway.

[2018-11-05 03:53] lahsrah opened #1098 "WebApi 2 project crashes IIS after rebuilding the project when using appinsights (even when disabled)"
When I am running the app on local machine (IIS Express or IIS) and rebuild the project and refresh the app in the browser it just stops responding completely, no errors or nothing in event log.

Only solution I have found is removing the following line from the ApplicationInsights.config file:

[code]
Disabling ApplicationInsights by doing the following doesn't do anything to the behaviour:
[code

[2018-11-05 13:30] iamimbohacker opened #1099 "Feature request: ability to enable request/response data in httpDependency"
Feature request: Ability to add additional data to http dependency on End-to-end transaction details page

##  Actual Behavior
Request content or response is not logged to the details.

## Expected Behavior
Ability to log httpclient request body and response in the dependency with httpType

[2018-11-07 16:43] SergeyKanzhelev opened #1100 "Corrupted performance counters can crash the process"
Reported by customer - app pool crashes and the only error in event log is below. As a workaround please disable performance counters collection by commenting out this module:
`Microsoft.ApplicationInsights.Extensibility.PerfCounterCollector.PerformanceCollectorModule`

The issue is most probably is a corrupted performance counters, not the permission issues. .NET calls into Performance Counters i

[2018-11-10 02:03] Dmitry-Matveev commented on #957
@sajibcefalo, no update on this one yet. Sorry for the delay. Relases currently go monthly as Beta1, Beta2 and then stable. 2.9-beta1 is expected this month. This bug was moved from 2.8 to 2.9 after some prioritization in 2.8, however, this item is not yet resourced in 2.9 either.

Did workaround above unblock you?

[2018-11-14 15:17] dpaquette commented on #648
Any plans of fixing this issue?

[2018-11-14 16:13] cijothomas commented on #648
At this point - AI Telemetry initializer is doing the best it can. If the ENV variable it relies on is not updated underneath - then not much can be done on this initializer..

[2018-11-14 16:13] cijothomas commented on #648
I will check with app service folks to see if there is anything better we can do here.

[2018-11-14 16:16] cijothomas commented on #1094
This is done for Request collection module - Initializers are called only once.
For dependency collector, initializers are still called more than once. Need to see if that can be improved as well. I'll keep the issue open as its partially addressed only.

[2018-11-14 16:18] dpaquette commented on #648
I just double checked the ENV variables in Kudu. In my case, the `WEBSITE_HOSTNAME` ENV variable is incorrect (it still has the deployment slot URL in it), but the `WEBSITE_SITE_NAME` variable appears correct.

[2018-11-16 22:07] cijothomas opened #1105 "SyntheticUserAgentTelemetryInitializer return quickly if already done"
SyntheticUserAgentTelemetryInitializer, which, if called multiple times, will do all the compute-intensive task of checking useragent to the list of potential 'bot' strings.
https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/develop/Src/Web/Web.Shared.Net/SyntheticUserAgentTelemetryInitializer.cs#L50

This should return immediately if user agent is already compared.

[2018-11-17 00:33] cijothomas commented on #1105
Abandoning for now  as RequestCollection module is modified to NOT call initializers twice, and this is n/a for other auto collection mopdules.

[2018-11-17 00:33] #1105 closed

[2018-11-26 22:40] lmolkova commented on #1049
See https://github.com/aspnet/Microsoft.AspNet.TelemetryCorrelation/issues/17

[2018-11-30 17:56] zakimaksyutov opened #1120 "Correlation doesn't work for localhost => breaks Azure Service Fabric's built-in reverse proxy"
Built-in Azure Service Fabric's reverse proxy is access through localhost. Due to this logic (line about localhost) AI SDK doesn't do correlation:

		<Add Type="Microsoft.ApplicationInsights.DependencyCollector.DependencyTrackingTelemetryModule, Microsoft.AI.DependencyCollector">
			<ExcludeComponentCorrelationHttpHeadersOnDomains>

				<Add>core.windows.net</Add>
				<Add>core.chinacloudapi.cn</A

[2018-11-30 17:59] zakimaksyutov opened #1121 "Stripping port from target breaks Application Map for reverse proxy scenarios"
AI SDK strips port from target field. This breaks reverse proxy scenarios which differentiate which app to forward to by using a port.

Should we consider keeping a port in target?

[2018-11-30 20:51] lmolkova commented on #1120
## Warning!

Do NOT do this workaround if you have Microsoft.ApplicationInsights.DependencyCollector 2.6.0 or previous versions and run Azure Storage Emulator on localhost! It results in issue sending requests to storage.

## Workaround

ASP.NET (classic) - ApplicationInsights.Web SDK from 2.7.0-beta1 to <= 2.9.0-beta2

Users can enable correlation on localhost by removing
[code]

AspNetCore (Appl

[2018-11-30 21:50] SergeyKanzhelev commented on #1121
Is it a reoccurance of https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/285?

[2018-11-30 23:37] zakimaksyutov commented on #1121
It says that it is fixed in 2.3. Looks like it regressed at some point. Or maybe this logic doesn't work only for localhost targets.

[2018-12-01 03:38] lmolkova commented on #1121
this logic does not work for .net core only.

[2018-12-03 21:38] lmolkova opened #1124 "Flaky test NonExistentCounterWhichUsesPlaceHolder"
[code]

https://dev.azure.com/mseng/AppInsights/_build/results?buildId=7896651

[2018-12-03 23:02] lmolkova opened #1125 "Flaky test PerformanceCollectorNormalizedCpuCounterTest"
https://dev.azure.com/mseng/AppInsights/_build/results?buildId=7895457

[2018-12-03 23:41] lmolkova opened #1126 "Flaky test QuickPulseServiceClientPingsTheService"
2018-12-03T23:18:43.8475689Z Failed   QuickPulseServiceClientPingsTheService
2018-12-03T23:18:43.8496425Z Error Message:
2018-12-03T23:18:43.8496855Z  Assert.IsTrue failed. Not all requests finished processing: expected 3, actual: 2
2018-12-03T23:18:43.8498083Z Stack Trace:
2018-12-03T23:18:43.8498808Z    at Microsoft.ApplicationInsights.Tests.QuickPulseServiceClientTests.WaitForProcessing(Int32 r

[2018-12-04 00:17] lmolkova opened #1127 "Flaky tests Test452OnNet47_* no status monitor but SDK version is rddp"
Somehow status monitor was enabled in the suite that does not test it therefore SDK version was not right: rddp:2.9.0-7382

2018-12-03T23:55:50.1321438Z Failed   Test452OnNet47_TestSyncHttpDependencyWebApp
2018-12-03T23:55:50.1334752Z Error Message:
2018-12-03T23:55:50.1335693Z  Assert.IsTrue failed. Actual version:rddp:2.9.0-7382
2018-12-03T23:55:50.1335973Z Stack Trace:
2018-12-03T23:55:50.13363

[2018-12-04 00:38] lmolkova commented on #1125
https://dev.azure.com/mseng/AppInsights/_build/results?buildId=7898264

[2018-12-04 00:39] #1121 closed

[2018-12-04 00:46] lmolkova commented on #1099
This feature is implemented, here you can find an example on how to use it:

https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/900

Basically during TelemetryIntitialiers run you have access to HttpRequestMessage/HttpWebRequest and HttpResponseMessage/HttpWebResponse through OperationDetails:

`dependencyTelemetry.TryGetOperationDetail("HttpResponse", out var reponseObject)`

H

[2018-12-04 00:46] #1099 closed

[2018-12-04 00:47] #900 closed

[2018-12-04 00:48] lmolkova commented on #820
This is implemented in #900

Basically during TelemetryIntitialiers run you have access to HttpRequestMessage/HttpWebRequest and HttpResponseMessage/HttpWebResponse through OperationDetails:

`dependencyTelemetry.TryGetOperationDetail("HttpResponse", out var reponseObject)`

Http keys are:

[code]

Be careful: in some cases instead of HttpResponse we can only give you HttpResponseHeaders,

[2018-12-04 00:48] #820 closed

[2018-12-04 00:48] lmolkova commented on #747
This is implemented in #900

Basically during TelemetryIntitialiers run you have access to HttpRequestMessage/HttpWebRequest and HttpResponseMessage/HttpWebResponse through OperationDetails:

`dependencyTelemetry.TryGetOperationDetail("HttpResponse", out var reponseObject)`

Http keys are:

[code]

Be careful: in some cases instead of HttpResponse we can only give you HttpResponseHeaders,

[2018-12-04 00:48] #747 closed

[2018-12-04 00:49] lmolkova commented on #587
This is implemented in #900

Basically during TelemetryIntitialiers run you have access to HttpRequestMessage/HttpWebRequest and HttpResponseMessage/HttpWebResponse through OperationDetails:

`dependencyTelemetry.TryGetOperationDetail("HttpResponse", out var reponseObject)`

Http keys are:

[code]

Be careful: in some cases instead of HttpResponse we can only give you HttpResponseHeaders,

[2018-12-04 00:49] #587 closed

[2018-12-04 00:52] lmolkova commented on #1096
[logs_7898263.zip](https://github.com/Microsoft/ApplicationInsights-dotnet-server/files/2641865/logs_7898263.zip)
+1

 2018-12-04T00:43:58.0088004Z Error Message:
2018-12-04T00:43:58.0088431Z  Assert.AreEqual failed. Expected:<2>. Actual:<1>.
2018-12-04T00:43:58.0088596Z Stack Trace:
2018-12-04T00:43:58.0088906Z    at E2ETests.Test452Base.<TestHttpDependencyCorrelationInPostRequest>d__19.MoveNext(

[2018-12-04 00:53] lmolkova commented on #1048
Thanks for the contribution!

[2018-12-04 00:53] #1048 closed

[2018-12-11 02:07] cranecx opened #1134 "Application insights does not relates dependencies with requests"
I've instrumented Application Insights in a WCF service, it are sending telemetry but it does not relating the dependency calls to the initial request:

![image](https://user-images.githubusercontent.com/14021432/49773336-4a900500-fcb6-11e8-8031-bf2c2461dff3.png)

Here is my web.config:

[code]

And my applicationinsights.config:

[code]

[2018-12-13 15:38] rs38 commented on #627
@SergeyKanzhelev

is there any update to that topic?
the main official Oracle nuget package is obviously

https://www.nuget.org/packages/Oracle.ManagedDataAccess/

[2018-12-15 21:35] cadwal opened #1128 "DependencyTelemetry ends up as parent of _all_ RequestTelemetries in a selfhosted AspNet Core application."
(This is on Net Fwk 4.7.2, AI 2.8.1)

I have come across some very odd behavior where a DependencyTelemetry (SQL call) becomes the the parent of all RequestTelemetries in in a selfhosted AspNet Core application. SQL calls actually happening during a request is nicely parented by that request itself.

This SQL call actually happens before AI is configured and initialized using AddApplicationInsight

[2018-12-18 06:18] sahithi77 opened #1129 "How to prevent losing telemetry pageView with Application Insight's Persistence Channel?"
when internet connection is available application insights for wpf application works fine and I am able to track page and events in azure portal but I want to know is it possible to store telemetry data somewhere in system when their is no internet connection and retrieve it when system is online and track those actions which I performed when their was no internet connection.

[2018-12-28 19:14] lmolkova commented on #1128
this is duplicate of https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/1090. Please try 2.9.0-beta2 and let us know if the issue is fixed.

[2018-12-28 19:14] #1128 closed

[2018-12-31 20:33] lmolkova opened #1132 "Flaky test QuickPulseServiceClientResubmitsAuthOpaqueHeadersToServiceWithPing"
[code]

https://dev.azure.com/mseng/AppInsights/_build/results?buildId=8102813

[2018-12-31 20:57] lmolkova commented on #1125
[code]
https://dev.azure.com/mseng/AppInsights/_build/results?buildId=8102966&_a=summary

[2019-01-02 15:53] cadwal commented on #1128
As far as I can tell right now, that fixes the issue.

(for some reason I have yet to find, request telemetry is no longer being sent in my application... no code changes or anything, but I could still see the difference with the inner SQL dependencies no longer being parented to the one happening prior to any request in 2.9.0-beta2)

[2019-01-07 21:17] taddison opened #1133 "SQL dependencies >= 100 seconds are not tracked"
We noticed a few long-running SQL calls were not being tracked by app insights, and after investigating found the cutoff to be 100 seconds.

The below app will log dependency calls for 98,99 seconds and nothing for 100,101.  We repeated this several times to try and isolate any timing issues and got very consistent results.

Setup:
- netcoreapp2.2
- Microsoft.ApplicationInsights 2.8.1
- MIcrosoft.

[2019-01-07 21:28] #1134 closed, assigned to nobody

[2019-01-15 04:03] pschaeflein commented on #900
The issue mentioned by @christianacca is happening to me.

@lmolkova Should this issue be closed? Is there a different issue tracking a but rather than the implementation?

[2019-01-15 12:42] pschaeflein commented on #900
Yes, Initialize is being called twice, however neither call includes ResponseHeaders. (The rawObjects field always contains only 1 item, the request object.)

I will try to get a repro together. I'm running a bot hosted locally at the moment. (Production will be on Azure App Service.) Below is a list of the NuGet dependencies. Should this environment be supported?

![image](https://user-images.git

[2019-01-15 19:10] michaelwstark commented on #900
@pschaeflein When you say that it is hosted locally -- what is the hosting process?  E.g. IIS, IIS Express or an Azure Emulator of some kind, etc

[2019-01-16 14:05] pschaeflein commented on #900
Sorry, IISExpress/Win10

[2019-01-16 17:38] cijothomas commented on #900
The response headers are read and populated correctly in .NET Framework.
https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/develop/Src/DependencyCollector/Shared/Implementation/HttpDesktopDiagnosticSourceListener.cs#L86
https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/develop/Src/DependencyCollector/Shared/Implementation/HttpProcessing.cs#L385

However, I dont

[2019-01-16 17:58] lmolkova commented on #900
@cijothomas

ResponseHeaders are set when response was received, but response object is not available - this is .NET Fx case only.

On .NET Core response object is always available (if response was received). It is set here
-  for netcore2.0:
https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/develop/Src/DependencyCollector/Shared/HttpCoreDiagnosticSourceListener.cs#L398
- for net

[2019-01-16 18:49] michaelwstark commented on #900
@pschaeflein  My personal experience during development and integration with my services was that I was never able to get anything set when running in a IIS Express host process.  Not sure what the key differences are\were (or whether the conclusion is entirely accurate), but the minute I actually deployed it to an development environment running in IIS everything worked as expected.  Not ideal.

[2019-01-17 06:05] lmolkova commented on #900
@michaelwstark this is not something I was aware of.

if anyone has or will at some point have a repro, would you mind sending it over to me (email in the profile) or posting it somewhere? I'll check.

[2019-01-21 11:38] MarkDordoy commented on #648
I am also seeing this issue. My slot is stopped after swap, but when running the following app insights query:
[code]

[2019-01-24 05:55] cijothomas commented on #1133
@taddison Will exposing the max duration to be set by user solve your issue?

[2019-01-24 05:56] cijothomas commented on #1129
Are you using ServerTelemetryChannel? If yes, it has mechanisms to store telemetry into local disk when network is lost and retry when back online.

[2019-01-24 05:56] #1129 closed

[2019-01-24 13:33] eivinskr commented on #1033
@lmolkova
We are experiencing the same issue on version 2.8.1.

[2019-01-24 18:00] taddison commented on #1133
Yes - though we'd curious to know what kind of impact raising this would have to make that call/tradeoff.

For context, most of our calls are extremely fast, and the places where we have gaps are typically the intersection of:

- Application startup (long-running query to do a one-time population of caches that are incremental once warmed)
- Dev/Test environment (hardware isn't as good/someone is

[2019-01-24 18:06] cijothomas commented on #1133
DependencyCollector keeps an internal cache to correlate between the 'begin' and 'end' of a SQL call. Items are entered to cache upon Begin, and are looked up and removed upon End of calls.
Also this cache auto clears entries after timeout of 100 secs now - this is done to make sure that cache does not grow indefinitely when End never arrives. (due to bugs !).

Increasing the cache expiration to h

[2019-01-24 19:45] taddison commented on #1133
We'd definitely appreciate being able to test - either by environment (e.g. set it high in dev/test), or even by server (e.g. server1 high vs. server2 low in prod) to gauge impact.  If ultimately the impact is low and the cache doesn't bloat, we'd always rather capture the long-running queries than have them go missing.  The ones that take a long time are often the ones we really want to focus on!

[2019-01-24 21:34] lmolkova commented on #1033
@eivinskr Could you please be more specific about the issue you experience?

In the link you provided, the problem is that 401 requests appear as failed. This github issue is about 200 responses after 401 not tracked at all.

If you want to mark 401 responses as successful, you can do that with [telemetry processor](https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-filtering-sampling)

[2019-01-26 10:30] fschmied opened #1139 "PerformanceCollectorModule should not try to collect ASP.NET performance counters for non-web applications"
## Repro Steps/Actual Behavior
When I install the `Microsoft.ApplicationInsights.WindowsServer` NuGet package in a console application or Windows service, Application Insights will automatically log this error message:

This is because the `PerformanceCollectorModule` automatically installs these performance counters, which are not available in non-web applications. The error message makes it look

[2019-01-26 11:59] fschmied commented on #1090
@lmolkova Just spent hours of debugging this before I found that a bug in Application Insights is the culprit rather than my own code. This is a critical bug, why wasn't it fixed in a 2.8 patch?

[2019-01-26 12:06] fschmied commented on #1090
Just to add: This is critical because it produces a memory leak, all the chained `Activity` objects are held alive in memory.

[2019-01-28 14:18] cijothomas commented on #1139
With https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/7, there wont be any default counters, so you'll no longer see this issue. Will use existing #7 to tracking purposes. Closing this.

[2019-01-28 14:18] #1139 closed

[2019-02-01 20:52] skyhoshi opened #1144 "Nuget Update/Upgrade via consolidation failes to install with error message"
If you are reporting bug/issue, please provide detailed Repro instructions.

## Repro Steps
1.  Have Solution with two or more projects with varying versions of AI installed.
1. A. Proj 1 : 2.8.1, Proj 2: 2.2.0
2. Attempt to do a consolidation up to the latest versions.

##  Actual Behavior
package manager output:
Short Log : Failed to add reference. The package 'Microsoft.ApplicationInsights.Depe

[2019-02-01 20:57] skyhoshi commented on #1144
When attempting to install JUST The failing package individually the package fails with the same error message, this is via the gui, trying via the package manager with the other package failed in the same way.

[2019-02-02 01:19] Dmitry-Matveev commented on #1144
@skyhoshi , does a workaround of uninstalling / installing pacakages work for you to unblock the update?

I quickly validated package update on our end in a solution with two web projects (one .Net 4.6.1 with AI SDK 2.8.1, another is .NET 4.5.1 with AI SDK 2.2.0) using VS "Update Nuget Packages for a solution..". Both projects were updated successfully (I indeed have System.Runtime.Cashing in GAC

[2019-02-15 10:40] Rob-Houweling commented on #1144
Hi, I'm having the exact same issue trying to upgrade to 2.9.1. Uninstalling and installing doesn't work, same error occurs.
Adding System.Runtime.Caching to the references of my Web project didn't work.
After checking, it appears that System.Runtime.Caching is already present in the GAc (System.Runtime.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitectu

[2019-02-15 19:15] Dmitry-Matveev commented on #1144
@Rob-Houweling, @skyhoshi , This seems to be related to an issue on how [Nuget treats façade assemblies](https://github.com/NuGet/Home/issues/2193).
One of the workarounds on that thread is to mark such assemblies as build-time only dependencies which is true for some but not all dependencies we have in AI SDK. @SergeyKanzhelev, what are the implications if we go that route (`{build:true}` for .NE

[2019-02-21 19:36] MS-TimothyMothra commented on #1120
@lmolkova can we close this?

[2019-02-21 19:53] MS-TimothyMothra opened #1153 "Flaky test TestDiagnosticFW45"
https://dev.azure.com/mseng/AppInsights/_build/results?buildId=8508196

Failed TestDiagnosticsFW45
Error Message:
Assert.IsTrue failed. AI actionable event was not received
Stack Trace:
at Functional.DiagnosticsTest.TestDiagnosticsFW45() in E:\A\_work\422\s\Test\Web\FunctionalTests\FunctionalTests\DiagnosticsTest.cs:line 69

[2019-02-21 19:56] MS-TimothyMothra opened #1154 "Flaky test Test4Medium200RequestAsync"
Failed Test4Medium200RequestAsync
Error Message:
Assert.Fail failed. Read test output. There are errors found in application trace.
Stack Trace:
at Functional.Helpers.SingleWebHostTestBase.StopWebAppHost(Boolean treatTraceErrorsAsFailures) in E:\A\_work\534\s\Test\Web\FunctionalTests\FunctionalTests\TestBase\SingleWebHostTestBase.cs:line 75
at FunctionalTests.Mvc4MediumTrustTest.TestCleanup() in E

[2019-02-21 21:27] colindooley11 opened #1155 "StartOperation<DependencyTelemetry>("OperationName") operation_Name is not always set correctly and is assigned to the wrong operation."
If you are reporting bug/issue, please provide detailed Repro instructions.

## Repro Steps
Hi,

I have a block of code I want to execute which I want all of the related dependency telemetry to be logged with the same operation_Name.

This "_kind of works_" **BUT** I am getting interleaved results with **operation_Name** remaining the same for the next execution of the following code path (which i

[2019-02-22 01:37] #1120 closed

[2019-02-22 15:05] colindooley11 commented on #1155
The http call to Cosmos appears to throw everything out. Now that is baffling...

[2019-02-22 17:24] colindooley11 commented on #1155
Ok, so yet further testing involving newing up a document client for each message handling invocation (instead of using one registered on the container) resolves this issue.

[2019-02-23 01:26] colindooley11 commented on #1155
Yet further testing with 2 types of container (SimpleInjector and CastleWindsor) show the same inconsistent results (ruling out lifecycle management of dependencies being an issue specific related to a container implementation - doesn't rule out issue with registration but at least they are consistently wrong)

Having 1 HttpClient for both calls (ignoring the need to authenticate for some of the c

[2019-02-23 02:21] colindooley11 commented on #1155
Ok, so the last bit of testing on this.  I'm out.....
Basically it appears as though ALL of the external dependencies you want to use StartOperation on HAVE to  be created WITHIN the scope of it.

You can not (it appears) use objects which are already instantiated (even if only as singletons) which are then used through the StartOperation method.

As the post suggests in my last comment, its not i

[2019-02-23 18:01] lmolkova commented on #1155
Startoperation is not related in any way to the client lifetime. Something else is going on in your case.
Could you please provide repro app so we can help you on this case?

[2019-02-23 18:12] lmolkova commented on #1155
Also, operation name is in fact name of the parent operation.
In case of dependency, it is likely the name of parent request.

I suggest you to set Dependency.Name explicitly and it should fix the issue.

[2019-02-23 20:19] colindooley11 commented on #1155
@lmolkova. I'll try and get a repro application to you. In the meantime what do you mean set the Dependency.Name explicitly?  I only ever attempt to group all telemetry under the operation_Name.

Thanks.

I agree something else is definitely going on in my case and I can't fathom it.

[2019-02-23 20:35] colindooley11 commented on #1155
Also I was reading some of your other posts, how is the telemetry emitted for HttpClient? Is it by using HttpHandlerDiagnosticListener?  Or by other means (I'd read the SDK uses byte code somewhere, or some other instructions) to help with instrumentation.  Would like to know a bit more.

As an aside we do make changes to Service PointManager to allow us to be unaffected by DNS changes, I'm hazard

[2019-02-25 01:29] colindooley11 commented on #1155
Updated title.  To extend this further.  The operation and parent operation ids are ALWAYS present and correct and instead setting these like so for example

`StartOperation<DependencyTelemetry>("General Name", guid, guid)`

Works a treat as we cant rely on a value in the name argument to be assigned correctly (see log lines in earlier comments)

[2019-02-25 20:11] lmolkova commented on #1155
operation_Name (kusto) corresponds to dependencyTelemtery.Context.Operation.Name Porperty - this is the name of high-level operation.

name (kusto) corresponds to depednencyTelemtery.Name property - this is the name of this specific telemtery.

StartOperation allows you to set name property.

What happens (this is an assumption) that you set name property, but somehow validate operation_name. And

[2019-02-25 20:20] colindooley11 commented on #1155
Thanks for the reply.  out of interest why is operation_Name unreliable?

I can try request telemetry instead of course.
The nested dependencies will emit their telemetry like before.

I'm not sure how it will fix things tbh.   That guidance seems to contradict some of the docs I have read where it says that the sender should use request telemetry and the receiver should use dependency telemetry.

[2019-02-25 20:26] lmolkova commented on #1155
operation_name might not be known at the time when dependency is tracked. Or operation (transaction) may have started on other service.

Request is service-side telemetry that describes server response time and result. Dependency is client side telemtery that describes outgoing call. All outbound http calls are tracked as dependencies, all inbound calls are tracked as requests. If there is a guida

[2019-02-25 20:50] colindooley11 commented on #1155
My bad, I've got them the wrong way around !

https://docs.microsoft.com/en-us/azure/azure-monitor/app/custom-operations-tracking

If this works I'll be a happy man.

[2019-02-25 20:57] lmolkova commented on #1155
@colindooley11 changing dependency to request solves other problems you didn't mention. let's try to make sure request.name is what you expect and correlation works correctly.
You also mentioned StartOperation<DependencyTelemetry>("General Name", guid, guid) solves the issue for you, di I get that correctly?

[2019-02-25 21:10] colindooley11 commented on #1155
Yes the last does work if I ignore (kusto) operation_Name and instead query on Id.

I'm sorry I have become absolutely fixated on operation_Name in the absence of all else around it.

[2019-02-25 21:12] colindooley11 commented on #1155
Out of interest when I use Request Telemetry what should I query on.  Will it be an id, or the name.  what is the recommendation?

[2019-02-26 17:26] colindooley11 commented on #1155
The request telemetry type does not resolve this issue, unfortunately.   I suspect it is something to do with NServiceBus and how it is managing concurrency and where the types used to house the current Activity are being stored (are these thread safe in NServiceBus) there seems to be cross talk if the storage of the current activity is being update from what seems 2 different operations.

[2019-02-26 20:36] colindooley11 commented on #1155
I guess the last thing I was interested in was why operation_Name was unreliable, you said that in an earlier post.  What makes this unreliable?

[2019-02-26 21:00] general-adhoc commented on #499
Is there an alternate way to manually set the Version property of the Component Context?  Using VS2017 build agents that don't generate buildinfo.config

[2019-02-27 19:03] lmolkova commented on #1155
It seems that StartOperation<DependencyTelemetry>("General Name", guid, guid) solved whatever problem you had, but I'm not sure.

I think I already explained the operation name is not useful and should not be used and also explained why.

I'm sorry, I'm completely lost at this point.

Could you please start from scratch and describe what is the problem and provide the repro app.

[2019-02-27 22:37] colindooley11 commented on #1155
I'm sorry, I think my energy has wained on this too.

I guess I didn't understand this

"operation_name might not be known at the time when dependency is tracked. Or operation (transaction) may have started on other service"

If the dependencies are called after calling start  operation the tracked dependencies should always have a name.

I've got a workaround anyway.

Thanks for all your help.

[2019-02-28 07:42] OskarKlintrot commented on #456
Are `Microsoft.ApplicationInsights.Extensibility.OperationCorrelationTelemetryInitializer` and `Microsoft.ApplicationInsights.Web.OperationCorrelationTelemetryInitializer` mutually exclusive or can they be used together? In my config-file for a WebApi-project (net461) I have `Microsoft.ApplicationInsights.Web.OperationCorrelationTelemetryInitializer` but the request telemetry and log from `ILogger

[2019-03-04 18:30] lmolkova opened #1156 "Support disabling the creation of Request-Context header via configuration"
In some cases, response headers ('Request-Context') is not desirable and we want to let customers disable it as we've done for AspNetCore: https://github.com/Microsoft/ApplicationInsights-aspnetcore/issues/613.

Warning: disabling it may break Application Map and End-toEnd Transaction viewer when different instrumentation keys are used since they won't be able to stitch together data from differen

[2019-03-04 19:35] lmolkova commented on #1155
Thanks, I'm closing this for now. Feel free to reopen as needed.

[2019-03-04 19:35] #1155 closed

[2019-03-05 23:01] Dmitry-Matveev commented on #456
@OskarKlintrot, typically, you'd need to use the set of the initiazers that comes with the latest clean installation of SDK. So you can have a test project with 2.9.1 to check what's the current set.

@lmolkova may know why ILogger messages are not correlated (coud it be that overarching Activity is lost by the moment Initializer runs for Trace Telemetry coming from ILogger)?

[2019-03-07 18:30] lmolkova commented on #456
when you use ILogger (Microsoft.extensions.logging.applicaitoninsights), you have to configure `Microsoft.ApplicationInsights.Extensibility.OperationCorrelationTelemetryInitializer` explicitly.

[code]

[2019-03-18 16:19] jawn opened #1159 "Configuring"
## Repro Steps
1. Start Visual Studio 2017
1. Create an ASP.NET Web Application, targeting .NET 4.6.2
1. Solution Explorer > (Website) > Select Add > Application Insights Telemetry.
1. Follow the wizard.
1. Publish the website from an Azure DevOps build (or if needed, manually from VS)

##  Actual Behavior

Website output contains ApplicationInsights.config twice, once in the website root, once in

[2019-03-21 09:19] dolly22 opened #1160 "QuickPulseTaskModuleScheduler uses TaskScheduler.Current that may cause problems"
On netcore (netstandard dll used) QuickPulseTaskModuleScheduler uses ```Task.Factory.StartNew``` without explicitly specifying task scheduler, ```TaskScheduler.Current``` is used in such situation, that may cause problems when there is custom task scheduler. I think thread pool based scheduler (```TaskScheduler.Default```) should be used explicitly here.

This caused some problems when using AI in

[2019-03-21 18:33] Dmitry-Matveev commented on #1160
@tokaplan , can you please take a look?

[2019-03-21 18:54] tokaplan commented on #1160
Let's ask the author what he thinks.
@netgh0st can you please comment? I remember you researched that TaskCreationOptions.LongRunning option in detail.

[2019-03-21 18:56] tokaplan commented on #1160
One important consideration here which may be relevant: the reason it's set to TaskCreationOptions.LongRunning (and also the reason it's creating a separate thread in the full .NET implementation rather than using the thread pool) is because it's crucial that this has high scheduling priority. When an application is overloaded with requests and the thread pool is saturated, we want QuickPulse to k

[2019-03-21 21:11] SergeyKanzhelev commented on #1159
There is no good solution for this. See http://apmtips.com/blog/2014/12/23/applicationinsights-dot-config-file-search-order/

Basically it's how web apps works vs. self hosting services and executable behave. And we need to support both.

DO you have a suggestion how we can improve this?

[2019-03-22 08:20] binkiesjoris opened #1162 "Dependency conflict with Eventhubs and DiagnosticSource on Cloud Service"
This week I deployed a new Azure Cloud Service using the [azure eventhubs](https://github.com/Azure/azure-event-hubs-dotnet) package. That package has a dependency on System.Diagnostics.DiagnosticSource >= 4.5.0. After deploying I get the following error:

`Could not load file or assembly 'System.Diagnostics.DiagnosticSource, Version=4.0.3.1, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' or on

[2019-03-23 06:14] lmolkova commented on #1162
you need to consolidate DiagnostocSource package versions among your projects and make sure binding redirects set up to the latest (4.0.3.1) version of DiagnosticSource.

[2019-03-24 01:18] lap1817 opened #1163 "AppInsight in Azure Fuctions app does not take Request-Id from client request's header"
We created a Azure function app and enabled AppInsight with default setup. We have a client SDK that will send request to this function app, which also uses AppInsight. In order to correlate the client side events with the server side events, we set 'Request-Id' header in the client request. However, on server side, AppInsight seems to ignore it and generates a new operationId on each request even

[2019-03-25 08:06] binkiesjoris commented on #1162
Binding redirects did not resolve the issue, I have tried but it just keeps resulting in the aforementioned error. I also only have 1 project in the app and 1 dependency in my project on this package, so there is not much I can do. It looks like something outside my application is causing the issue (as far as I can tell).

Besides binding redirects would there be any other thing I could to fix the

[2019-03-25 22:38] lmolkova commented on #1162
please share you csproj (with all dependencies/projectreference ) and binding redirects.

[2019-03-26 08:36] binkiesjoris commented on #1162
I have created a gist with the file info [here](https://gist.github.com/binkiesjoris/0e18052b7e4753238bc61a0f24cd3070), slightly redacted but all the dependencies/references and redirects are intact. This configuration gives the following error:

`[FileLoadException: Could not load file or assembly 'System.Diagnostics.DiagnosticSource' or one of its dependencies. The located assembly's manifest de

[2019-03-26 22:55] lmolkova commented on #1162
@Mikhail-Pranovich, could you please have a look?

It seems that we miss/break some binding redirects for DiagnosticSource when injecting application insights on cloud services.  Application already has reference to DiagnosticSource and already has proper binding redirects in the web.config.

[2019-03-26 23:40] Mikhail-Pranovich commented on #1162
CloudServices use old StatusMonitorV1, which is installed as part of Microsoft.Azure.Diagnostics.PaaSDiagnostics, whenever Application Insights sink is enabled: https://docs.microsoft.com/en-us/azure/azure-monitor/app/cloudservices. It indeed does binary placements and some binding redirects in customer's app bin folder.
The newer version is currently pending deployment within couple months does n

[2019-03-26 23:42] Mikhail-Pranovich commented on #1162
Could you also confirm for which module the `System.Diagnostics.DiagnosticSource, Version=4.0.3.1` is required - can it be safely deleted from the project references?

[2019-03-27 00:10] lmolkova commented on #1162
@Mikhail-Pranovich  even if System.Diagnostics.DiagnosticSource, Version=4.0.3.1 is deleted, it is still implicitly brought by EventHubs SDK - this is a  valid scenario we need to support.

[2019-03-27 07:54] OskarKlintrot commented on #456
That makes sense, thanks!

[2019-03-27 08:11] binkiesjoris commented on #1162
I think that would be the most logical option. To clarify though, I currently do not have the diagnostics enabled (I may have at first, but I have turned it off afterwards). In the current state the application simply does not run, without any clear indication as to why (dll load exceptions are pretty obscure imho). In the case where one would have turned on the diagnostics, having the application

[2019-03-27 17:47] Mikhail-Pranovich commented on #1162
Thanks for confirmation, @binkiesjoris. The new version of StatusMonitor will back-off in case if System.Diagnostics.DiagnosticSource is present.

Whenever you uninstall the old StatusMonitorV1 (through PaaS uninstall), please do the clean deployment of your app - there are dlls (AspNet.TelemetryCorrelation & DiagnosticSource) left over after StatusMonitorV1 is uninstalled.

[2019-03-28 17:39] SergeyKanzhelev commented on #765
@cijothomas , @lmolkova were there any updates for this? I remember something was added to `Data` recently

[2019-03-28 17:42] isaac2004 commented on #765
I have a customer that is curious about anyway to log the parameters being passed for an EF call. We know we can get the params and command and add track events inline with the EF call, but that seems hacky. I would love to have a TelemetryInitializer where I can do this for ALL SQL calls.

[2019-03-28 17:57] cijothomas commented on #765
I cannot recollect any recent changes to SQL Dependencies..

[2019-03-28 21:25] SergeyKanzhelev commented on #765
@cijothomas @lmolkova is it feasible? Or this info is not available in DiagnosticsSource?

[2019-03-29 06:42] drauch opened #1166 "MSB3030 with linked config files"
We've just upgraded from 2.6.x to 2.9.1 and now our build fails with the following error message:

[code]

Our ApplicationInsights.config file is part of the project, however, it is a linked item:

[code]

Is this a bug? It worked in 2.6.x.

[2019-03-29 06:43] SergeyKanzhelev commented on #1166
@MS-TimothyMothra , looks like another case that is not handled by the targets file. Can you please take a look?

[2019-03-29 12:36] shibayan commented on #676
@cijothomas I created a PR because I understand why Web App for Windows Containers can not collect performance counters.

[2019-03-29 16:20] MS-TimothyMothra commented on #1166
@drauch yes this is a bug.
I've been swamped recently but I'm planning on taking a look at this soon.

[2019-03-29 19:23] cijothomas commented on #765
@SergeyKanzhelev We are collecting it here for SQL Client DiagnosticsSouce, so it should be available for .net core apps.
https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/develop/Src/DependencyCollector/Shared/Implementation/SqlClientDiagnostics/SqlClientDiagnosticSourceListener.cs#L126

[2019-03-29 19:59] isaac2004 commented on #765
@cijothomas not really following where I can get the parameters using the class you gave me. Can you provide a gist?

[2019-03-29 20:12] cijothomas commented on #765
@isaac2004 are you using .net core app? then sql query should be captured automatically without doing anything..

[2019-03-29 20:24] isaac2004 commented on #765
@cijothomas are you sure? This is an ASP.NET Core 2.2 app, parameter is not present
![image](https://user-images.githubusercontent.com/8878502/55260593-2d6c4b80-523f-11e9-9067-52120ed2dd85.png)

[2019-03-29 22:46] cijothomas commented on #765
@isaac2004 As per this code (https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/develop/Src/DependencyCollector/Shared/Implementation/SqlClientDiagnostics/SqlClientDiagnosticSourceListener.cs#L125) you should be getting full sql text.
Can you share the SDK version you are using? are you on .net framework?
If you can give a small repro app, i can investigate to see why sql query is

[2019-03-29 22:59] isaac2004 commented on #765
Before I do that, I want to ensure we are talking about the same thing. The above screenshot is a SQL dependency call using EFCore. By design, EF calls are parameterized but you are saying I should be able to collect the raw sql with where clause values via DependencyTelemetry object?

[2019-03-29 23:30] cijothomas commented on #765
@isaac2004 looking at your screenshot above, it appears that 'Data' already has the full SQL query. This issue was about not getting Sql Command in data, right?

[2019-03-30 00:01] isaac2004 commented on #765
No it was about getting raw sql. This is parameterized sql

[2019-03-30 00:35] cijothomas commented on #765
@isaac2004 thanks for clarifying. You are right We don't collect parameters yet. (Haven't explored if it is feasible or not)

[2019-03-30 00:43] isaac2004 commented on #765
Yep figured. I know I can get it inline. I wonder if I can pass the EF transaction into a Telemetry Initializer

[2019-03-30 15:09] sajibcefalo commented on #957
@Dmitry-Matveev I did not try the workaround. We have several applications in asp .net web api and asp .net core running on production. So, we have to provide custom solution all of them,  We wanted to wait for the release to fix the problem and it seems it will take infinite time to fix the bug.

[2019-04-03 15:14] borgez commented on #1098
Same problem, it causing iis express startup clr crash

VS 2019, .NET 4.7.1, Microsoft.ApplicationInsights" version="2.9.1" targetFramework="net471"

[2019-04-03 16:17] cijothomas commented on #1098
@borgez can you try if the workaround of removing this initializer helps?
<Add Type="Microsoft.ApplicationInsights.WindowsServer.AzureRoleEnvironmentTelemetryInitializer, Microsoft.AI.WindowsServer"/>

[2019-04-03 18:18] borgez commented on #1098
yep, if remove iis not fail

[2019-04-03 18:21] cijothomas commented on #1098
@borgez thanks for confirming. AzureRoleEnvironmentTelemetryInitializer tries to load a dll into separate AppDomain to not affect user AppDomain. Seems like something is broken there.

Please continue to use the mitigation - if you are not running on Azure Cloud Service Web/Workers roles, you'll not miss this initializer anyway - it's meant to add cloud_RoleName from Azure Cloud Services.

[2019-04-03 18:25] borgez commented on #1098
May be move it to Microsoft.Microsoft.ApplicationInsights.Azure or sometnig?
How i understand it not need in regular windows server.

And silent crash iis on dev machine not good anyway.

[2019-04-04 18:43] lmolkova commented on #1163
This is not supported yet and is tracked here: https://github.com/Azure/azure-functions-host/issues/2447. Will be rolled out with the next functions host deployment.

[2019-04-04 18:43] #1163 closed

[2019-04-04 23:21] Dmitry-Matveev commented on #957
@sajibcefalo , you are correct, this issue is not addressed and is not currently prioritized for any of the upcoming releases. Is it something you can help us with by submitting a contribution if you see how it can be fixed for all customers? Alternatively, we can try to upvote this issue higher in the backlog to get some traction.

[2019-04-05 13:25] RamunasAdamonis commented on #797
Will this fix apply to .NET Core as well?

[2019-04-08 18:06] lmolkova opened #1168 "Investigate performance of QuickPulseTelemetryModule startup"
Azure Function team noticed that QuickPulse is taking about 6% of perf during function cold startup.

Name | Inc %
-- | --
\|\|                      +   microsoft.ai.perfcountercollector!Microsoft.ApplicationInsights.Extensibility.PerfCounterCollector.Implementation.QuickPulse.Helpers.QuickPulseTaskModuleScheduler+State+<>c__DisplayClass2_0.<.ctor>b__0() | 5.6
\|\|                       +   micros

[2019-04-08 18:22] tokaplan commented on #1168
- What's a warm-up?
- Are we talking about the .NET Core implementation or the full .NET implementation?

[2019-04-08 19:29] lmolkova commented on #1168
@tokaplan

This is .NET Core. 2.1.
AFAIK this is just a cold start of Azure Web App, Initialize AppInsights along with QuickPulse. There is some function specific initialization as well, but this should not be related to the perf hit.

[2019-04-08 20:13] tokaplan commented on #1168
@netgh0st can you please comment here (this is .NET Core, so your implementation I believe)?

From what I remember, ping itself is only issuing a single request every 5 seconds, so hardly a problem. Judging from the stack, looks like the initial creation of a long-running task on the thread pool (it's probably a separate thread under covers, actually, which is by design) takes some time. I don't k

[2019-04-12 20:35] brettsam opened #1169 "Check for null serviceClient when disposing QuickPulseTelemetryModule."
To get around #1168, we had plans to delay the call to `QuickPulseTelemetryModule.Initialize()` by 15 seconds. But we found that if the site was being shut down before those 15 seconds had expired, we'd get a NullRef. I'm guessing it's b/c of the missing null-check on `serviceClient` here: https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/develop/Src/PerformanceCollector/Perf.Sha

[2019-04-16 01:31] lmolkova commented on #1168
@Dmitry-Matveev can we try to accomplish this in the 2.10 timeframe along with other perf improvements?

[2019-04-16 17:52] #1169 closed

[2019-04-16 21:31] MS-TimothyMothra opened #1173 "Performance Enhancement: Request Tracking Properties & Post Sampling Execution Deferral"
@Mikhail-Pranovich identified performance issues in RequestTrackingTelemetryModule.
Specifically:

1. Setting the `requestTelemetry.Url` from the context
https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/3bee86d3f7ec3e81efe6c5ad3ebdbe37f79929bb/Src/Web/Web.Shared.Net/RequestTrackingTelemetryModule.cs#L164-L167

2. Setting the `requestTelemetry.Source` to the SourceAppId
https://g

[2019-04-16 21:58] MS-TimothyMothra commented on #1173
I'm shocked that populating the `Request.Unvalidated.Url` adds a significant performance overhead.

I also see that removing it adds additional side effects...

- TelemetryProcessors are not guaranteed to run on the same thread as the original request.
- removing it from the `RequestTrackingTelemetryModule` Requires additional changes to `QuickPulseTelemetryProcessor`
https://github.com/Microsoft/

[2019-04-17 18:27] MS-TimothyMothra commented on #1173
@SergeyKanzhelev Would you approve of this proposal?
Alex said we **must** have your signoff to take this change into the stable sdk.

[2019-04-17 21:05] SergeyKanzhelev commented on #142
@vgorbenko, I was pinged on this again. Were there any changes in backend which will allow to send performance counters with the different interval?

[2019-04-18 06:52] zakimaksyutov opened #1175 "Timestamps of telemetry items are not precise"
If you are reporting bug/issue, please provide detailed Repro instructions.

## Repro Steps
Have a few very fast sequential dependency calls (for instance to Azure Storage in the same region).

##  Actual Behavior
Since DateTime has 15-30 ms precision, many telemetry items start at the same time and appear to be running in parallel rather than sequential. This results in completely misleading End-

[2019-04-18 19:29] Mikhail-Pranovich commented on #1173
@MS-TimothyMothra, I suggest very careful architectural review for such a change. The reason I didn't merge this change in, is due to the fact that it spot fixes the performance bottleneck, rather than fixing the rootcause problem - the sampling needs to happen much early in the pipeline, comparing to current design. @Dmitry-Matveev was doing performance investigations, please sync with him if he

[2019-04-18 22:35] Dmitry-Matveev commented on #1173
We may be able to sample early in .NET Core SDK in the near future, however, there is no certainty in the early sampling approach for ASP.NET SDK currently. Most of my ongoing performance investigations are in ASP.NET Core SDK repo, so they won't interact with this particular change.

The change in the question is indeed a behavior change that can only be shipped by default with major version upda

[2019-04-19 00:16] Dmitry-Matveev commented on #1168
@lmolkova , it appears to be a synchronous web request executed on a separate thread. Being synchronous significantly increases its chances of being caught by sampling profiler. That should not immediately translate into this code taking 6% CPU as it seems to be idling on web request execution outside of the hot path.

We can shave off some string allocations here and there (such as playing with s

[2019-04-19 08:52] tokaplan commented on #1168
It's a separate thread, so making the call async won't achieve anything. This thread doesn't need to do anything else while the call is pending, it just sleeps, so there would be no perf gain.
I'm not sure how you measured the 6%, but it's very unlikely that a single HTTP call issued once every 5 seconds impacts performance significantly.

[2019-04-19 18:59] safihamid commented on #1168
We noticed this issue for functions consumption cold start time, we execute cold start and function execution on a single core in consumption plans. so even though this request runs on a separate thread it still slows down our cold start initialization as the OS will need to context switch to this thread and runs the code while our main thread is still initializing... the workaround we are conside

[2019-04-19 19:21] SergeyKanzhelev commented on #1173
Even though I agree that sampler may need to happen earlier in a better world - I think this fix (which will only change behavior for auto-enabled apps) is perfecty justifiable.

BTW, for the easly sampling - in Open Census we use URL to get the `span.Name` and then use `span.Name` to pass to the sampler. Is there understanding why obtaining an URL is that expensive?

[2019-04-22 15:22] DaleyKD commented on #1162
Is there an update on when the new StatusMonitor will be available or installable? We're having this issue with deploying, too.

[2019-04-25 04:29] cijothomas opened #1178 "Noisy Error level message when PerfCounter module is run in Web Apps for linux."
If you are reporting bug/issue, please provide detailed Repro instructions.

## Repro Steps
1. Deploy a app with defaults to Azure Web App Linux
2. Start making requests.

##  Actual Behavior
There will be an error message logged to users ikey.
@"Processors count has incorrect value: {0}. Normalized process CPU counter value will be reported as 0."

## Expected Behavior
No error message with defau

[2019-04-26 05:37] lmolkova commented on #1175
Here is the code that corrects timestamps  for Activity on .NET Fx: https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.DateTime.netfx.cs

We should do the same in the base SDK for all telemetry items.

[2019-04-26 06:02] ndreisg opened #1180 "Exclude WebSocket Requests from "slow response time" rules of SmartDetection"
Hi there,

my WebApp handles WebSocket requests as well as normal HTTP requests.
These days, I received some "slow response time" notification emails from AI for this WebApp.
The response time of WebSocket Requests is naturally very high (time between open and close handshake).

Is it possible to exclude WebSocket requests from SmartDetection, so that I only get notifications if the response times

[2019-04-30 20:36] MS-TimothyMothra opened #1181 "Question: Should the WebSDK inject the clientside JS SDK?"
Today the DotNetCore SDK is able to inject the clientside JS SDK.
Should the DotNet SDK do the same?

I'm phrasing this question in the context of our codeless attach scenarios.
If the WebSDK could do this, our codeless attach scenarios could potentially offer a more complete monitoring solution.

[2019-05-01 16:18] cijothomas commented on #1181
Both asp.net core and asp.net code-less attach **already** injects js sdk (if configured to do so). They use different technologies underneath to do the same.
Were you asking should we continue to do so ? or something different?

[2019-05-09 20:16] MS-TimothyMothra opened #1183 "Normalize Signing Keys"
I started on this with PR #1042 but never had the time to finish.

- All our Net45 projects are using two keys (develop & release).
- NetCore only uses one key (release).
- BaseSDK is using only one key.

[2019-05-09 20:18] MS-TimothyMothra opened #1184 "Update Test Dependencies"
I started on this but never had time to finish RP #925

Simple ask here is to keep our test libraries up to date.
- Microsoft.NET.Test.Sdk
- MSTest.TestAdapter
- MSTest.TestFramework

[2019-05-09 20:21] MS-TimothyMothra opened #1185 "Consolidate Dependencies of Test Projects"
I was working on this but didn't have time to finish. PR #1016

To make upgrading the Base SDK easier, I was trying to consolidate our test projects to use a shared `packages.config`.
This was working, but Sergey was alarmed because it seemed like a hack.

[2019-05-09 21:26] cijothomas opened #1186 "Avoid sending error message about perf counter error when running in Linux/Mac"
PerfCounters were enabled for Windows in ..NET Core in the following PRs.
https://github.com/microsoft/ApplicationInsights-dotnet-server/pull/1157
https://github.com/microsoft/ApplicationInsights-dotnet-server/pull/1148

When the app is deployed in Linux where perf counters are not supported, LiveMetrics logs Error levels trace messages, which are sent by DiagnosticModule to user's instrumentation

[2019-05-10 12:12] AshasTob opened #1187 "Possible memory leak with ConditionalWeakTable wrapping SQL dependency"
Dear AppInsights team, I am not sure if this is issue with app insights. Please help investigating. We have encountered a memory problem after running load test for over 20hours. Solution slowly but steadily increased memory usage until rebooted. (see screenshot)
![memory_leak_under_load](https://user-images.githubusercontent.com/26505346/57526379-f0af6c00-7335-11e9-8b19-7ef697aa492f.png)

Load te

[2019-05-10 16:59] cijothomas commented on #1187
@AshasTob Thanks for reporting the issue and sharing the repro app. We'll investigate this.

[2019-05-13 15:25] cijothomas opened #1188 ".Net Core PerfCounters from .Net Core/Asp.Net Core"
There were a bunch of recent improvements which made us collect perf counters from Asp.net core/.net core.
1. We support collecting perf counters from Windows based Azure App Services - Web Apps, Functions
2. We support collecting perf counters from Windows VMs.

Next in line is to tackle is supporting perf counters in non-windows environments like Linux, Linux App Service etc.

Overall roadmap is

[2019-05-13 15:30] cijothomas opened #1189 "Support Process CPU and Memory from Linux"
Overall story:
https://github.com/microsoft/ApplicationInsights-dotnet-server/issues/1188

The goal is to leverage the following to report process cpu, process memory usage.
https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.process.totalprocessortime
https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.process.privatememorysize64

These 2 counters are what powers LiveMetric

[2019-05-13 18:52] ColeShepherdAG opened #1190 "QuickPulseTelemetryModule config null after rebuilding TelemetryConfiguration.DefaultTelemetrySink.TelemetryProcessorChainBuilder"
## Repro Steps
Download .zip, extract, add breakpoints where comments say to, run.

##  Actual Behavior
`QuickPulseTelemetryProcessor.config` is made null after calling build on `app.ApplicationServices.GetService<TelemetryConfiguration>().DefaultTelemetrySink.TelemetryProcessorChainBuilder`

## Expected Behavior
`QuickPulseTelemetryProcessor.config` retains value
[QuickPulseTelemetryProcessorRace

[2019-05-13 18:54] ColeShepherdAG commented on #1190
Here's Program.cs from the .zip file:

[code]

[2019-05-13 19:55] cijothomas commented on #1190
@ColeShepherdAG Can you describe the impact ? I just tried this in my webapps Startup.cs, and i dont see anything not-working with LiveMetrics.

public void Configure(IApplicationBuilder app, IHostingEnvironment env)
        {
            if (env.IsDevelopment())
            {
                app.UseDeveloperExceptionPage();
            }

            app.UseMvc();

            var telemetryConfig

[2019-05-13 20:45] ColeShepherdAG commented on #1190
For me, requests stop showing up in the live metrics screen under "Sample Telemetry" even after validating that there are no request filters applied.

[2019-05-13 20:51] ColeShepherdAG commented on #1190
The behavior I'm seeing is that `QuickPulseTelemetryProcessor.config` is initialized asynchronously in the background, and if it has already been initialized when you call `TelemetryProcessorChainBuilder.Build()` then `QuickPulseTelemetryProcessor.config` is reverted to `null`.

[2019-05-13 21:45] ColeShepherdAG commented on #1190
Also, if I use the top-level `` on `TelemetryConfiguration.TelemetryProcessorChainBuilder` instead of `telemetryConfiguration.DefaultTelemetrySink.TelemetryProcessorChainBuilder`, live metrics works fine.

[2019-05-14 19:22] cijothomas commented on #1190
Will investigate more.

[2019-05-14 19:22] cijothomas commented on #1187
Have setup a long running test to get repo.

[2019-05-15 16:12] AshasTob commented on #1187
I was able to reproduce the issue on the Azure S3 webApp with 2 instances. Under load of 200requests per second, Memory and CPU steadily grow up until service throws a couple of OutOfMemoryExceptions and restart.
But now I am not sure if it is .net core issue OR ApplicationInsights. I am kinda lost at this point.

[2019-05-15 16:40] cijothomas commented on #1187
@AshasTob I didnt repro with 5 hour run.. I will run for more hours..
Can you desribe load again? 200 RPS served by 2 instances, so 100 RPS for a single instance. And you have 10 SQL calls per incoming request?

[2019-05-15 16:45] AshasTob commented on #1187
With 100RPS per instance, where each request does 3 quick SQL queries(10 was just to try make it escalate quicker locally). Please note that Application Insights site extension on Azure is ON with profiler ON.

You can see memory grow up to 50% already in 2 hours in my case...

[2019-05-15 16:50] cijothomas commented on #1187
Please share results of: https://yoursitename.scm.azurewebsites.net/applicationinsights

If possible disable extension (profiler, snapshotdebugger etc..), and just install SDK to isolate issue.

[2019-05-15 17:41] AshasTob commented on #1187
![AI_data](https://user-images.githubusercontent.com/26505346/57796703-6f9b0f00-7751-11e9-93ec-8096124f3ca5.png)
I have now launched test without AI extension. Lets see how it goes.

I will tomorrow update a test of a repository, as it does not fully correspond to what code I have in Azure right now, so if you can't reproduce than maybe is something different and I am missing the point here comple

[2019-05-17 17:49] cijothomas commented on #1187
@AshasTob can you update the repository with correct code which reproes.

[2019-05-19 11:35] AshasTob commented on #1187
I am still working on investigating this issue. I have figured out that if I remove site extension on web app OR if I remove ApplicstionInsights from code - memory is stable.
Sorry for not uploading updated code base. I will inform you when I have it on github, I need to rip it from our production solution that I cant share. Please don't close this issue.

[2019-05-19 17:58] AshasTob commented on #1187
I have updated the GitHub repo. Please add db connection string, AI key and change in controller table/column name.
Please notice I am reproducing it now at webapp at Azure with sending 110 requests per second.

Here's what I see at Azure metrics:
![память](https://user-images.githubusercontent.com/26505346/57986076-c61d8b80-7a78-11e9-93fb-62e41f75d2cc.png)

Please help me understand this behavior

[2019-05-19 18:29] pharring commented on #1187
Could be https://github.com/microsoft/ApplicationInsights-dotnet/issues/1102
The fix (https://github.com/dotnet/coreclr/pull/23661) has been back-ported to .NET Core 2.2, but probably hasn't got to Azure App Services yet.

[2019-05-21 09:13] jirikanda opened #1196 "CacheHelper.GetCounterValue performance tuning"
##  Actual Behavior
[code]

## Issue
* GetCounterValue method is called a lot of times.
* The method reads a value from an environment variable.
* There are only four environment variables.
* The value of an environment variable is stored to the cache under the key *name*.
* The reuse of the value is limited due the key *name*.

## Expected Behavior - cache key (high priority)
* It would be more e

[2019-05-22 01:01] lmolkova opened #1197 "Return back NugetTests"
DependencyCollector Nuget tests are gone:
https://github.com/microsoft/ApplicationInsights-dotnet-server/pull/1017/files

Web nuget tests are gone too https://github.com/microsoft/ApplicationInsights-dotnet-server/pull/1008/files

tests are needed to validate xdt transformations and we should return them back

[2019-05-22 03:20] lmolkova commented on #1096
[code]

[2019-05-22 05:28] lmolkova opened #1201 "Flacky WebApi500RequestFW45ExceptionTracking"
https://dev.azure.com/mseng/AppInsights/_build/results?buildId=9529603&view=logs&j=238e8bd2-a405-568b-6af4-baad8728563f

[code]

[2019-05-22 18:12] MS-TimothyMothra opened #1203 "flaky test: Test452OnNet462_XComponentWebAppToWebApi"
**Error message**
Test method E2ETests.Net462.Test452OnNet462.Test452OnNet462_XComponentWebAppToWebApi threw exception:
System.AggregateException: One or more errors occurred. ---> Microsoft.VisualStudio.TestTools.UnitTesting.AssertFailedException: Assert.IsTrue failed.

**Stack trace**
   at E2ETests.Test452Base.<ValidateXComponentWebAppToWebApi>d__71.MoveNext() in E:\A\_work\719\s\Test\E2ETests\

[2019-05-22 20:58] lmolkova commented on #974
fixed with #1200

[2019-05-22 20:58] #974 closed

[2019-05-22 23:31] lmolkova opened #1205 "Dependency tracking function tests fail with "All Apps are not unhealthy"."
Dependency functional tests sometimes fail while starting containers with test apps.
Check this two runs out:

[dlab14_DDMBLDW183_2019-05-22_15_58_57.zip](https://github.com/microsoft/ApplicationInsights-dotnet-server/files/3209682/dlab14_DDMBLDW183_2019-05-22_15_58_57.zip)
[dlab14_DDMBLDW182_2019-05-22_14_42_20.zip](https://github.com/microsoft/ApplicationInsights-dotnet-server/files/3209683/dlab

[2019-05-24 16:52] cijothomas commented on #1032
@srozga sorry i forgot to follow up, we haven't seen many requests for this feature.
the approach looks okay for me.

[2019-05-24 17:00] debugthings opened #1207 "Use WAS-DEFAULT-HOSTNAME HttpHeader to get slot name"
## Issue
Currently we use the [WEBSITE_HOSTNAME](https://github.com/microsoft/ApplicationInsights-dotnet-server/blob/c47719cdc1d204ed99b19bb033ef9dc18118103d/Src/WindowsServer/WindowsServer.Shared/AzureWebAppRoleEnvironmentTelemetryInitializer.cs#L18) to determine the App Service slot the code is deployed to.

This environment variable is passed in upon process creation by the App Service sandbox

[2019-05-24 17:05] cijothomas commented on #1207
issue: https://github.com/microsoft/ApplicationInsights-dotnet-server/issues/648

[2019-05-24 17:07] debugthings commented on #1207
Other references: #872, #871, #314

[2019-05-28 15:34] #1096 closed

[2019-05-28 15:35] #1153 closed

[2019-05-28 15:35] #1154 closed

[2019-05-28 15:35] #1127 closed

[2019-05-28 19:19] lmolkova commented on #1207
We need to think about worker roles and telemetry reported in background threads.

[2019-05-28 21:00] cijothomas commented on #1207
1. Yes we need a way to solve this for worker roles. But it can be a separate enhancement than this.
2. If we use the same TI as before, but modify it to periodically update the slot name from Request headers, then it should automatically benefit telemetry reported from background thread as well. (Assuming that this enhancement will be implemented NOT by reading incoming headers in every request,

[2019-05-28 22:43] v-alwout opened #1209 "Disposing Configuration does not clean up worker threads"
I have a scenario where I need to keep a C#/.Net program running, but it might need to update the configuration for Application Insights.  It does this currently by Initializing a new configuration class, creating a new client with the new configuration, then disposing the old configuration.  However, I found that after each configuration change, the old threads for perf and dependency collection

[2019-05-28 22:44] cijothomas commented on #1187
@pharring is there any way to confirm if this is same issue? The link you shared is 404 for me!

[2019-05-28 23:46] pharring commented on #1187
[I don't know what happened to that issue. I can't access it either. It's as if it was deleted (by the owner?) It was back-linked from the CLR issue too and that's also "broken".]

The way to check is to get a memory dump of the process when memory usage is high. Open it in windbg and use it to view unmanaged heap. The largest heap (probably the process heap) will consist of repeated strings that

[2019-05-29 04:45] SergeyKanzhelev commented on #1209
I believe you'd need to dispose telemetry modules explicitly. Configuration doesn't hold reference on those modules.

[2019-05-29 05:09] v-alwout commented on #1209
Thanks, I will try that

[2019-05-29 05:14] wyeack opened #1210 "Synthetic Telemetry Initializer causes Unhandled Exception"
I have created a Synthetic Telemetry Filter as described here:
https://azure.microsoft.com/en-us/documentation/articles/app-insights-api-filtering-sampling/#sampling

Here is my exact code:
[code]

This used to work find but when I upgraded to the latest version of the API in my MVC App I started getting an unhandled exception in my code:
"Object reference not set to an instance of an object."

Th

[2019-05-30 05:41] psibernetic commented on #1187
The issue was moved to CoreCLR repo: https://github.com/dotnet/coreclr/issues/23562

[2019-05-30 10:34] AshasTob commented on #1187
I have investigated this issue in details.
How to reproduce it 100%. Upload my app to Azure WebApp, go to app telemetry configuration, turn on 'site extension' and in turn on Application Insights profiling. Under requests bombarding - you will have a memory leak. Please try&reproduce it.

I have SOLVED this case for our project by redeploying WebApp and not turning ON the Application insights prof

[2019-05-30 17:49] cijothomas commented on #1187
@AshasTob can you share the screenshot from your WebApp ApplicationInsights tab. I assume that this is only caused when Profiler is also turned on.

![image](https://user-images.githubusercontent.com/5232798/58652453-7c2e7400-82c8-11e9-998d-328b106e3351.png)

[2019-05-31 08:03] AshasTob commented on #1187
@cijothomas , I suggest to just turn everything on to just reproduce first. But in theory, yes just having Profiler should be enough.
Sorry I cant provide screenshot as I have that thing turned OFF completely on all environments now :)
Application insights still work - as I have instrumentation_key provided via config in code itself.

[2019-05-31 16:43] cijothomas commented on #1187
@AshasTob since you are using the SDK in your project via nuget and facing no issues, the issue is related to Profiler component and not the SDK.
If this is same issue paul mentioned, then it's being fixed and ported to 2.2 as well. So once AppService gets the new 2..2 version it should be solved.

No further action is needed on Application Insights SDK itself.

[2019-05-31 16:55] cijothomas commented on #1187
To summarize the current findings:
This issue occurs when Profiler is turned on.
Workaround is to turn off Profiler, until the fix is available.
Other features of application insights can be used.

Thanks @pharring :)
https://github.com/microsoft/ApplicationInsights-dotnet/issues/1102#issuecomment-477990559

[2019-05-31 16:55] #1187 closed

[2019-05-31 18:13] v-alwout commented on #1209
That seemed to work, thank you again.

[2019-05-31 18:13] #1209 closed

[2019-05-31 18:27] lmolkova opened #1212 "Add netstandard 2.0 target on WindowsServer and DependencyCollector"
All .net core libs should target 2.0

[2019-05-31 18:31] lmolkova commented on #1212
netstandard 2.0 target does not require additional dependencies on

WindowsServer
NETStandard.Library (>= 1.6.1)
System.Runtime.Serialization.Json (>= 4.3.0)
System.Runtime.Serialization.Primitives (>= 4.3.0)

DependecnyCollector:
NETStandard.Library (>= 1.6.1)
System.Data.SqlClient (>= 4.3.1)
System.Diagnostics.StackTrace (>= 4.3.0)

[2019-05-31 18:32] cijothomas commented on #1212
Thanks for opening this. We can try to do this in next release.

[2019-06-07 17:45] stebet commented on #765
I created the issue originally for .NET Framework apps, where the SQL text is not put into the .Data on the DependencyTelemetry objects for SQL calls. It works fine on .NET Core.

[2019-06-07 18:28] MS-TimothyMothra commented on #765
Hello @stebet,
This works in **.NET Core** because there are additional libraries that support collecting the SQL text.

For **.NET Framework**, you'll need to install the "_Instrumentation Engine_" which is distributed with the  **Status Monitor** product.

See here for instructions depending on your environment:
https://docs.microsoft.com/azure/azure-monitor/app/asp-net-dependencies#advanced-sql

[2019-06-07 19:38] cijothomas opened #1213 "Correctly populate instance name for PerformanceCounter when running under Azure Web App"
Run any web app in Azure Web App and observe perf counters data in analytics.

##  Actual Behavior
instance name is shows as ??APP_WIN32_PROC??
![image](https://user-images.githubusercontent.com/5232798/59129252-276ea700-8921-11e9-80e5-ade327c37424.png)

## Expected Behavior
For a counter like "\Process(??APP_WIN32_PROC??)\% Processor Time", the instance name placeholder is expanded to the actual

[2019-06-10 16:44] maheshmitkari opened #1214 "Virtual Directory give http 500 error after Integrating App insight in ASP.NET MVC App"
Issue: Accessing any file / resource inside any virtual directory give 500 Error after integrating Application Insight.

Application: ASP.NET MVC ASP.NET MVC application deployed on IIS 8 on Windows Sever 2012 hosted as Azure VM.

We integrated Application Insight using Visual Studio and it works fine. But all our virtual directory created on IIS started giving http 500 error. Virtual directories

[2019-06-10 21:31] Dmitry-Matveev commented on #1214
It might be related to the inheritance of web.config in the child directories/applications. Adding its own web.config to these directories may serve as a workaround in such a case. That new web.config will need <clear/> element for <httpModules> section to remove all unnecessary modules configured at the upper level. Alternatively, it may need <remove> element with the name of the module to disabl

[2019-06-11 14:39] stebet commented on #765
Hi @MS-TimothyMothra and thank you for your response.

I know it works in .NET Core. It would be great to get it to work without the instrumentation engine in .NET Framework but I realize that might involve changes to both the SQL Client libraries as well as the DiagnosticSource providers/listeners in AppInsights, so I created this ticket to see how feasible it was.

I haven't checked if it works

[2019-06-11 22:46] lmolkova opened #1215 "Support correlation-context in absence of Request-Id or traceparent"
Correlation-Context is used by partner teams in Microsoft to propagate arbitrary key-value pairs along with request flow and in addition to tracing identifiers (Request-Id, cV or traceparent).

When 1P app instrumented with cV attempts to work with app that is instrumented with ApplicationInsights, AppInsights ignores Correlation-Context.
It happens because Correlation-Context [according to spec](

[2019-06-12 11:38] abergs opened #1216 "x-correlation-id header added too many times"
We have an API endpoint which makes a lot of dependency calls (SQL, Redis etc).
The result is that over 1,200 x-correlation-id headers are added to the response.
Our client ( a .NET Core 2.2 app HttpClient) throws exceptions because the value of the header is larger than the maximum defined in HttpClient: https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/SocketsH

[2019-06-12 15:48] cijothomas commented on #1216
@lmolkova - can you take a look?

[2019-06-12 20:35] lmolkova commented on #1216
ApplicationInsights or .NET never add `x-correlation-id` headers.
@abergs are you sure this is the right header name? Please check if anything else in your app adds this header.

[2019-06-12 23:50] cijothomas opened #1217 "Re-use Xplatform counter for windows and linux"
The new XPlatformPerformanceCounter can be used in windows and linux as well. This issue is opened to track refactoring more code to re-use.
https://github.com/microsoft/ApplicationInsights-dotnet-server/pull/1195

[2019-06-13 07:16] abergs commented on #1216
You are right. I grep'd after x-correlation-id and couldn't find anything. However it seems another nuget package adds the header. Sorry for disturbing.

[2019-06-13 07:16] #1216 closed

[2019-06-13 16:39] #1189 closed

[2019-06-14 20:44] lmolkova commented on #62
Today we use following HTTP dependency tracking mechanisms:
1. .NET Fx: DiagnosticSource. The end event is fired when HttpResponseMessage is disposed i.e. after response is read. The issue is not relevant
2.  .NET Fx: profiler: we instrumented OnEndGetResponse
3.  .NET Core DiagnosticSource

For both p2 and p3 there are caveats.
HttpClient methods have an overload that takes `HttpCompletionOptions

[2019-06-14 20:44] #62 closed

[2019-06-15 03:45] lmolkova commented on #129
Note that FirstChangeExceptionModule is disabled by default now.
Does not reproduce with ApplicationInsights Web SDK 2.10.0 even with FirstChanceException module on.
Please reopen if reproduces again.

[2019-06-15 03:45] #129 closed

[2019-06-15 04:03] lmolkova commented on #193
This was fixed in https://github.com/microsoft/ApplicationInsights-dotnet-server/issues/900.
You can access SqlCommand operation detail in TelemetryInitializer. Note, they will be gone before processors chain starts.

[code]

[2019-06-15 04:03] #193 closed

[2019-06-17 17:45] lmolkova commented on #765
AFAIK this is now pure replication of .NET Fx SQL client. We are working with SQL team to make diagnostics better in future in Microsoft.Data.SqlClient.

[2019-06-18 17:35] #1026 closed

[2019-06-18 17:36] cijothomas opened #1220 "Make ignoring observed exception configurable"
Need a followup PR to the below one, to add a bool option to unobservedexception module.
https://github.com/microsoft/ApplicationInsights-dotnet-server/pull/1024

[2019-06-19 10:15] stebet commented on #765
@lmolkova That's fantastic to hear. Even just getting feature parity with .NET Core without additional profilers/instrumentation engines would go a long way.

Thanks for your responses :)

[2019-06-20 22:21] cijothomas opened #1222 "Support EventCounter Collection"
Starting with .NET Core 3.0 there will a bunch of system-wide counters published using EventCounters. ApplicationInsights SDK need to support collecting of event counters as its replacing PerformanceCounters.

We will support EvenCounter collection NETSTANDARD20 onwards, but nobody is publishing any counters by default, until .net core 3.0. So this will only help collect which user is publishing.

[2019-06-20 22:22] cijothomas commented on #1222
Originally posted: https://github.com/microsoft/ApplicationInsights-aspnetcore/issues/601

[2019-06-24 20:40] lmolkova opened #1225 "HttpCoreDiagnosticListener tracks exceptions"
When HttpClient call fails with an exception (like network issue), DiagnosticSource sends Exception events.
This event should be ignored: likely exception is handled, corresponding HTTP request is logged with error and it just creates noise.

Unhandled exceptions are tracked through ASP.NET Core, GenericHost, WebJib extensions, loggers, etc....

[2019-06-25 15:12] vinhent commented on #941
Since implementing this workaround in my WCF REST application, the correlation works well. But I'm getting random duplicated requests and dependencies. Sometimes it's just fine, sometimes it's duplicated. Do you think it can be related to this workaround having 2 Activity instances?

[2019-06-25 22:27] cijothomas commented on #960
You are creating TelemetryClient correctly - in initialize method where you get telemetryconfig instance.
SDKInternalOperationsMonitor Enter/Exit is to mention that the things which happen between these are SDK Internals, and should not be reported as user telemetry. For eg:, if an exception or dependency call occurs within these, they wont be reported.

[2019-06-25 22:27] #960 closed

[2019-06-27 22:20] tannguyen3 commented on #856
I have a WPF app (.NET 4.6.1) that calls a Restful API and the HTTP Dependency collector only collects the 401 code of auth-challenge request and immediately reports as failed call.
So I have 100% failed dependency but in reality everything works well.

One thing I notice that, if Fiddler is opened, the collector is able to ignore 401 and collect the follow-up code after the auth-challenge request

[2019-06-28 21:15] gonzalolorieto commented on #1225
Can you provide some example over what exceptions are thrown?

Also, we current have posted an issue on Azure Support that seems related.

Could this be related?

Regards

[2019-06-29 13:02] i3arnon commented on #1220
I personally don't think this is needed as the developer can fully control the behavior via the `UnobservedTaskExceptionEventArgs`.
By default the module handles all unobserved exceptions and if they want to take responsibility for specific exceptions they can subscribe to the same event and mark these exceptions as `Observed` with `SetObserved`.

[2019-07-01 16:34] lmolkova commented on #1088
up

[code]

[2019-07-02 18:07] lmolkova commented on #1088
Azure Functions team notice that happens with many Functions v1.

[2019-07-03 03:15] #1222 closed

[2019-07-03 03:16] cijothomas opened #1226 "Allow EventCounter name configuration"
We enabled EventCounterCollection module here: https://github.com/microsoft/ApplicationInsights-dotnet-server/issues/1222

The name of the telemetry is eventsoucename + "|" +countername. We need to let user supply an 'reportAs' name or let user specify to use 'counterDisplayName' instead of 'counterName'.

[2019-07-03 05:18] sajibcefalo commented on #957
@Dmitry-Matveev
@SergeyKanzhelev

I am not using `Global.asax` as I'm using StartUp instead. I created an owin middleware as follows but i didn't find anything to `GetRequestTelemetry()` as you used in WebApiApplication_EndRequest method. My code inside middleware is written as below

[code]

The middleware is placed as first in owin pipeline. It seems not working.

Can you please mention what's I

[2019-07-03 14:56] LeMaciek opened #1227 "Deadlock/hang in RequestTrackingTelemetryModule.IsHandlerToFilter"
Deadlock/hang in  RequestTrackingTelemetryModule.IsHandlerToFilter

## Repro Steps
We've just upgraded to ai 2.10 from 2.8 and...
On one of the webapplications - a webapi controller (Classic Asp.Mvc) was timing out,after looking into it, i saw this:
![image](https://user-images.githubusercontent.com/1091052/60601683-cf598200-9db2-11e9-91a9-8dc6920be437.png)
and in dumps this:
![image](https://user

[2019-07-08 12:02] razzemans commented on #648
We are running into this issue as well. Would very much like a fix.

[2019-07-08 16:55] cijothomas commented on #648
The proposed fix https://github.com/microsoft/ApplicationInsights-dotnet-server/issues/1207 is scheduled to arrive for next stable, most likely in the beta2.

[2019-07-08 17:05] cijothomas commented on #1227
This does not appear to be a regression in 2.10 to release 2.10.1 to address this. From what I can see, this existed for older versions as well. The fix is coming in 2.11.0-beta1 to be released this week.

[2019-07-08 17:06] #1227 closed

[2019-07-09 22:55] Dmitry-Matveev commented on #957
My understanding of the workaround is the following:

- Early in Application Startup register Telemetry Processor that will:
 - Check that item has "track me" mark and let it through, drop otherwise: this will drop telemetry that is collected automatically and has wrong response code;
 - Remove "track me" mark to make sure telemetry is not reported twice;

- On EndRequest (outside of the OWIN midd

[2019-07-10 08:49] maze81 commented on #536
For our company this is more than just an enhancement.
We need to make a call to a government website, and for whatever stupid reason they don't support the | character that is generated in the request-id and return a 400 statuscode if we do send it..

When we use the ExcludeComponentCorrelationHttpHeadersOnDomains setting only the Request-Context header is removed, but the problematic Request-Id

[2019-07-10 16:36] dennis-yemelyanov commented on #536
I ended up explicitly adding a Request-Id header with empty value, which seemed to work fine. Of course, the preference is to be able to get rid of it completely for a given request, but at least the problem of sending out sensitive data and invalid characters can be solved:

`httpClient.DefaultRequestHeaders.Add("Request-Id", "");`

[2019-07-12 10:24] maze81 commented on #536
I don't know what's different here, but your suggestion doesn't work.
If we try this:
`httpClient.DefaultRequestHeaders.Add("Request-Id", "abc");`

The resulting header will be:
`Request-Id: abc, |8f31846f4bd2f42cc8f16f0b439cdc91.6e697597_`

Maybe it doesn't work because this is a .NET Core 2.2 project?

[2019-07-13 01:37] cijothomas opened #1233 "EventCounter 1st value is unusually high."
If you are reporting bug/issue, please provide detailed Repro instructions.

## Repro Steps
1. Take .net core 3.0 preview 6 app.
2. Install latest beta1 sdk.
3. Run the app for few minutes.
4. Observe value of EventCounters like ExceptionCount, TP Items Count.

##  Actual Behavior
The very 1st value reported is quite high. Like 100K or so.. The next value onwards its more like 1-2. as per expectat

[2019-07-13 01:38] cijothomas commented on #1233
example 1:
![image](https://user-images.githubusercontent.com/5232798/61165358-32929500-a4d4-11e9-8d32-f84bfc098046.png)

[2019-07-13 01:38] cijothomas commented on #1233
example 2:
![image](https://user-images.githubusercontent.com/5232798/61165363-45a56500-a4d4-11e9-8732-71e89365a0ce.png)

[2019-07-13 07:45] alejagapatrick commented on #1222
https://github.com/microsoft/ApplicationInsights-dotnet-server/issues/1222

[2019-07-15 17:10] cijothomas commented on #1225
This issue is about DependencyCollection module tracking an Exception event along with a DependencyTelemetry in the event of client side errors like DNS. The exception is sent to user ikey, along with DependencyTelemetry.

If this exception is not tracked, then the only information DependencyCollector has is that call failed, and resultCode as "Faulted". We should modify the result code to be more

[2019-07-17 20:07] chcosta opened #1235 "Application-Insights publishes for dependency flow"
Dependencies which are a part of source build, but do not publish using dependency flow end up causing incoherent builds. Source build is not able to determine which version of the asset is needed because it is not reported to BAR and then someone must manually go to a repo (like core-sdk) and trace back to find which version of the dependency is needed so that it can be built.

See https://github

[2019-07-18 17:20] OneCyrus opened #1236 "metadata request gives System.Threading.Tasks.TaskCanceledException"
we have a lot of System.Threading.Tasks.TaskCanceledException because our web isn't running on a azure VM and so AppInsight can't connect to the metadata service. is there a way to disable this metadata fetching?

## Repro Steps
1. add AppInsight to a web project
2.  deploy to a Non-Azure VM

##  Actual Behavior
![image](https://user-images.githubusercontent.com/7747800/61470274-0f0e9500-a981-11e9

[2019-07-18 17:42] MS-TimothyMothra commented on #1236
This request comes from the `AzureInstanceMetadataTelemetryModule`. It's in the config by default. I think the design decision was to only make a single request and not retry if it fails.

You'll want to remove this from your configuration.

https://github.com/microsoft/ApplicationInsights-dotnet-server/blob/3cc166e3c9ec9d3f4ce77f48d3ab8c6bd6218808/Src/WindowsServer/WindowsServer.Shared/AzureInsta

[2019-07-18 22:41] lmolkova commented on #1236
we should also no track this dependency call. Exceptions should go away with https://github.com/microsoft/ApplicationInsights-dotnet-server/issues/1225

[2019-07-19 14:29] SashaPshenychniy commented on #193
@lmolkova When I initialize Target and Name of dependency in order to achieve grouping by SQL command (I take Target from ConnectionString, Name = SQL statement hash), I get some ridiculous ApplicationMap. It seems some of the telemetry items are overwritten by telemetryProcessors you mention. Is there any way to avoid that?

[2019-07-19 16:31] cijothomas commented on #193
@SashaPshenychniy  can you elaborate what is being overwritten? The operationdetails stored in dependencyTelemetry will be gone after TelemetryProcessors starts, but if you access it in a TelemetryInitializer and copy it to other fields like Name or Target, then there shouldn't be anything in sdk which overwrites these.

[2019-07-19 19:43] #1212 closed

[2019-07-22 09:59] virtualcca opened #1239 "PerformanceCollector make LOH and make one cpu core high load"
If you are reporting bug/issue, please provide detailed Repro instructions.

## Repro Steps
1.  use dotTrace(Timeline mode) to run my web app
2. Constantly requesting the site

##  Actual Behavior
some time single cpu core load is high (It's like gc recycling.)
produced a large object ( made by PerformanceCollector)

## Expected Behavior
Smooth operation of cpu
No large objects in memory

## Versi

[2019-07-22 11:17] SashaPshenychniy commented on #193
@cijothomas , Thank you for your help. All in all, it appeared to be a set of issues resulting in very strange application map:
![image](https://user-images.githubusercontent.com/18739843/61628119-14722500-ac8a-11e9-82ce-707418fdbce9.png)

- Root cause, which is still a source of disappointment... When I set telemetry.Name to something like "SELECT TableA|TableB|TableC" (using vertical dash as sep

[2019-07-22 12:11] yahorsi opened #1240 "ApplicationInsights configuration file loading failed. Type 'Microsoft.ApplicationInsights.Web.AspNetDiagnosticTelemetryModule, Microsoft.AI.Web' was not found"
Hi Guys,

I'm trying to build classic/old ASP.NET app with AI support.
I'm using VS 16.1.6

I have created an empty ASP.NET app and add AI.
That gave me generated ApplicationInsights.config.
The file contains the following:
[code]

When I access my app (call WCF method) I see following error in the AI events.

`
AI: ApplicationInsights configuration file loading failed. Type 'Microsoft.Application

[2019-07-22 12:16] tincann opened #1241 "Suddenly throwing random exception: 'ProcessId was not available in the samples we gathered'"
## Repro Steps
This problem started after a deploy, which does not contain any Application Insights related changes. This problem does not seem to affect the rest of the application.

##  Actual Behavior
First exception started on July 19th 2019 15:48. In the following 4 days, the exception has been thrown 42 times, at random intervals at approximately every 1-3 hours.

Exception message:

[code]

[2019-07-22 13:45] pharring commented on #1241
@tincann This is a problem with the profiler agent. I've forwarded this to serviceprofilerhelp@microsoft.com for you.

[2019-07-22 14:29] khalidabuhakmeh opened #1242 "[Performance] Environment.GetEnvironmentVariable Is CPU Intensive"
https://github.com/microsoft/ApplicationInsights-dotnet-server/blob/a43692cf6648dd2270714ac8cc23de57d5431881/Src/PerformanceCollector/Perf.Shared/Implementation/WebAppPerformanceCollector/PerformanceCounterImplementation.cs#L24-L27

[2019-07-22 15:15] yahorsi commented on #1240
Just to clarify, I see the message above in the Azure/AI/Search

[2019-07-22 16:49] cijothomas commented on #1242
This environment variable is where SDK queries for PerformanceCounter values. (In App Service sand-box this is the only way to read perf counters). This query only occurs once every 1 min, and in a background task.
If this is a performance concern, the only workaround would be to disable the performance collector module.

With the upcoming support for EventCounter(https://github.com/microsoft/Appl

[2019-07-22 17:00] cijothomas commented on #1239
PerformanceCollector does work in Asp.Net Core (with some limitations).

What is the version of application insights sdk you are using?
From quick look, the above call stack  should happen only once in 5 mins (https://github.com/microsoft/ApplicationInsights-dotnet-server/blob/develop/Src/PerformanceCollector/Perf.Shared/PerformanceCollectorModule.cs#L37) but i need to investigate closer.

[2019-07-22 17:34] kendaleiv commented on #1242
- Tried both `2.9.1` and `2.10.0`
- ASP.NET full framework
- Premium P3v2

We have powerful premium instances that run our suite of web applications. Ultimately we've been wondering why 23 web apps with 23 autoswapping staging slots with the sole purpose of processing jobs (no web requests routed to this instance per our traffic manager configuration) could be averaging ~20% at idle which lead us

[2019-07-22 23:51] Dmitry-Matveev commented on #1240
@yahorsi , I quickly tried with 16.1.6 and default SDK it installs - 2.8.1 and I was able to see Request Telemetry without warning traces with IIS Express hosting (did you use full IIS?)

Easy way to check default [ai.config template, web.config update](https://github.com/microsoft/ApplicationInsights-dotnet-server/tree/055bcaaec7249cf91ca3e1e59e8bcc08393e10e7/Src/Web/Web/net45) and a set of DLLs

[2019-07-23 01:14] virtualcca commented on #1239
Microsoft.ApplicationInsights.AspNetCore sdk version is 2.7.1

Because I found that my site recently had high memory and CPU usage, cpu appears to be caused by the triggering of virtual memory when memory is high. I just wanted to analyze why (and even once wondered if there was a problem with asp.net core under Linux), and through dotTrace I found that the code for my own web site didn't produce

[2019-07-23 12:20] yahorsi opened #1243 "Question: Debug/Trace ApplicationInsights.config errors"
Hi Guys,

Is that possible somehow to understand if there is an error in our ApplicationInsights.config?
I seems to made the mistake and there is no any messages on the Azure AI Search.
We simply stopped getting telemetry.

Thanks

[2019-07-23 12:21] yahorsi opened #1244 "Question: AI in VS"
Hi Guys,

Are there any tricks needed to make to make AI VS plugin working?
Right now we have AI enabled, I can see AI events in the debug output but I cannot see anything in thre AI VS view.

Thanks

[2019-07-23 12:25] yahorsi opened #1245 "Question: SnapshotCollector"
Classic ASP.NET
Do we need to do anything extra to make SnapshotCollector working? Or, in other words, should SnapshotCollector.SnapshotCollectorTelemetryProcessor be explicitly added in the ApplicationInsights.config or adding corresponding nuget package is enought? If yes, could you please provide sample.

Core ASP.NET
What should be done to make snapshots collection working in the ASP.NET Core

[2019-07-23 15:22] pharring commented on #1245
Sorry you're having trouble. The documentation is here:
https://docs.microsoft.com/azure/azure-monitor/app/snapshot-debugger#enable-application-insights-snapshot-debugger-for-your-application

I think they're pretty complete, but do let us know if you have feedback on the docs. e.g. You find something confusing, or your scenario isn't covered.

### Classic ASP.NET
Add the nuget package. This shoul

[2019-07-23 21:47] cweining commented on #1241
@tinncann  It might be best if we could meet with you to do some debugging of your application. Could you please email serviceprofilerhelp@microsoft.com so we can setup a time to meet? We have tried to reproduce the issue and have not been able to.

[2019-07-23 21:48] cweining commented on #1241
@tincann It might be best if we could meet with you to do some debugging of your application. Could you please email serviceprofilerhelp@microsoft.com so we can setup a time to meet? We have tried to reproduce the issue and have not been able to.

[2019-07-24 08:21] yahorsi commented on #1245
Hi guys, I just want to say that todays Microsoft (OSS/Github) makes me happy :) It is now so much easier to get help, so thatk you guys :)

First, about app we build this time. It is classic .NET 4.7.2 and ASP.NET WCF service (no we cannot use WebAPI and .NET Core, we are forced to use WCF to integrate with external services). Cherry on the cake, as we all want to be in the trend we use classic .

[2019-07-24 09:00] tincann commented on #1241
@cweining Thank you, Chuck! I've sent an email to the address.

[2019-07-24 17:10] ColeShepherdAG commented on #1190
@cijothomas Any news on this issue? We are unable to increase the adaptive sampling rate in some of our apps because of this.

[2019-07-24 17:36] cijothomas commented on #1233
https://github.com/dotnet/coreclr/pull/25799 This is fixed and will be available in .NET Core 3,0 preview 8. No action required in application insights sdk other than validating things look good. Keeping this open until preview 8 is available for testing.

[2019-07-24 17:42] pharring commented on #1243
First, read through: https://docs.microsoft.com/azure/azure-monitor/app/asp-net-troubleshoot-no-data

The SDK emits errors to debug output. So, run your application under the debugger in Visual Studio and watch the debug output. Look carefully for output beginning with "AI" or "ApplicationInsights".

One common problem is that ApplicationInsights.config is not copied to the output folder (in the .

[2019-07-24 17:51] pharring commented on #1245
I replied to your other question about troubleshooting ApplicationInsights.config problems (https://github.com/microsoft/ApplicationInsights-dotnet-server/issues/1243#issuecomment-514730374)

Here's the doc for ApplicationInsights.config:
https://docs.microsoft.com/azure/azure-monitor/app/configuration-with-applicationinsights-config

For your scenario -- just Exceptions and Snapshots on .NET Fram

[2019-07-24 18:44] yahorsi commented on #1243
Thank you for your answers! Really helpfull.

Checked and it is "Copy if newer"

I can clearly see AI events in the debugger output, but not in the AI view

The real question was a bit about different thing, about how tyo make sure the config is semantically correct.

[2019-07-24 18:49] yahorsi commented on #1245
Interesting, I actually just have created sample  (actually tried twice, for empty ASP.NET app and WebAPI app) ASP.NET app and add SnapshotCollector nuget package using UI. This is what I've got, have a look to the bottom of the config, it does not look correct to me.

[code]

[2019-07-24 18:53] yahorsi commented on #1245
One more point, notice that:

Now try to open the link and find 'other properties'...

[2019-07-24 19:21] pharring commented on #1245
I see. The TelemetryProcessors section at the bottom was added by the SnapshotCollector nuget and, unfortunately, it doesn't account for the fact that the TelemetryProcessors section has been moved inside TelemetrySinks. (This schema change happened a while ago in the base SDK, but SnapshotCollector wasn't modified to cope with it -- indeed, it may be impossible to fix due to the limitations of XM

[2019-07-24 22:38] aarondandy commented on #1207
How would this work for something using IHostedService? Would telemetry from it just use the cloud role name from the last HTTP request? I know it won't be a common case but it could be a strange corner case and possibly complicated further with percentage based traffic allocations.

[2019-07-25 09:27] yahorsi commented on #1245
Yep, there are few bugs, in nuget package installer and docs.
But I'm still unable to see the snapshots ((
Does TelemetryProcessors order matter and if yes where SnapshotCollectorTelemetryProcessor should be put in?
Could you please share working sample with SnapshotCollectorTelemetryProcessor and all options available for the SnapshotCollectorTelemetryProcessor?
It seems I'm not alone who can't m

[2019-07-25 09:41] yahorsi opened #1247 "Question: Default .NET Core config and classic .NET Config"
Hi Guys

When we add AI to the classic .NET project AI is configured throught the config.
So, we  see it and it is explicit. When we do the same in .NET Core there is no config and when it going on is hidden from us. So, we do not know what telemetry processors/modules/.. is configured.

So, the question is, how explicit .NET AI config compares to the .NET Configuration  when we add it using servi

[2019-07-25 16:11] cijothomas commented on #1247
https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core#configure-the-application-insights-sdk This is the only doc about the asp.net core sdk. There are some information about the default config spread throughout the doc.

It configuration is equivalent of the ai.config based on in asp.net apps. But yes there is no doc listing the default config or comparing default setting for asp.

[2019-07-25 16:26] yahorsi commented on #1247
Exactly, ideally we need to know exact default core config. Having it classic vs core is not that important but will be good to have

[2019-07-25 23:11] #1088 closed

[2019-07-25 23:55] brahmnes commented on #1245
Hi @yahorsi

Did the "Don't see the snapshot? troubleshoot" link show up for you?
If not, it probably means snapshot collector is running, but you didn't see snapshots for some other reasons.

You can also check the troubleshooting guide to see if it helps:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/snapshot-debugger-troubleshoot

If you can share your application id (don't share the

[2019-07-29 18:52] Dmitry-Matveev commented on #1244
@gardnerjr, any hints you may have to help?

[2019-07-29 19:38] yahorsi commented on #1244
Should it work at all for the SDK style project and classic .NET 4.7.2?
It seems to be working fine in my sample project that is using old project system and does not work in SDK style. I'll try try convert my sample project to the SDK style tomorrow to find out will it still work.

[2019-07-29 21:52] gardnerjr commented on #1244
Need more info about what version of VS, what kind of project, etc..  The AI debug views only watch the debugger for AI data if they know for a fact that the current project is supported and has AI in it (otherwise we might scrape the output in random projects and just slow down the debugger)

[2019-07-30 08:11] yahorsi commented on #1244
Latest VS 16.2, .NET 4.7.2 project that is using SDK style project file, the project has AI config, corresponding web changes and of course needed nuget package references.

[2019-07-30 08:55] yahorsi commented on #1244
Ok, seems the issue caused by the SDK style project, so, the question is: Does AI view in the VS support running classic 4.7.2 apps using SDK style project file?

[2019-08-01 19:32] ErikEJ opened #1249 "DependencyCollector references a bad and old version of System.Data.SqlClient"
You should update the reference to System.Data.SqlClient to a newer version, you are currently using version 4.3.1 and current version is 4.6.1 - the 4.3.1 version causes issues with newer dependencies - see issue here: https://github.com/dotnet/SqlClient/issues/144

[2019-08-01 21:19] MS-TimothyMothra commented on #1249
Thank you for reporting this.

@lmolkova I feel like I was talking to you about SqlClient recently but I can't remember the context.
Would it be safe to update this version today?

[2019-08-02 10:42] ErikEJ commented on #1249
Event upgrading to the next version after 4.3.1 (4.4.0) fixes the issue.

[2019-08-07 20:55] MS-TimothyMothra commented on #1235
@chcosta could you please give me read-access to your core-eng repo?

[2019-08-14 15:33] sc22github commented on #343
@lmolkova in your response above, you said following:

Is this problem of execution context not being preserved across start and stop events of httpclient specific to application insights or it can happen in general, and hence asynclocal should not be relied on to store ambient state of execution context when there is httpclient call involved? I am running into an issue where some state I am stori

[2019-08-15 20:12] lmolkova commented on #343
this is not specific to application insights. this is the problem of WebHttpRequests:  execution context does not flow between begin/end requests. Even if you use HttpClient, AppInsights interacts with HttpWebRequests underneath.

There is no such problem on .NET Core.

You may be able to achieve what you want using raw request and response objects on dependency telemetry to enrich it using ITelem

[2019-08-16 00:48] sc22github commented on #343
@lmolkova, thanks for the response.

[code]
To make it clear, can the execution context at Point A and Point B in this code be different because the line between them is executing HttpClient.SendAsync? Or is it just true for BeginRequest and EndRequest events of HttpWebRequest, which are lower in the stack?

I have an AspNetCore web app targeting .net462, not .net core and I am using [this](https:

[2019-08-16 22:58] lmolkova commented on #343
@sc22github
in your code it's the same execution context in A and B. ApplicationInsights callbacks are triggered in different points than A or B - we are triggered when underlying HttpWebRequests begin/end.

There is no way to fix it if you stay on .NET Fx. If you move to .NET Core. AppInsights package flavor
is not going to fix the problem for you (e,g, not using async local as I showed you in pr

[2019-08-18 00:18] slipdef opened #1250 "No UnhandledExceptionTelemetryModule when using WindowsServer package for Net.Core 2.2"
Referenced Microsoft.ApplicationInsights.WindowsServer 2.10 from NuGet. Works well for Net 4.x.

[2019-08-18 23:10] slipdef commented on #1247
I'm not sure what's going with AI actually. MS claims that NET Core is the future (https://devblogs.microsoft.com/dotnet/net-core-is-the-future-of-net/), many first level MS projects drop support for Net Framework (like ASP.NET Core 3 won't support NetFx), but AI config doesn't support Net Core out of the box. So to connect PerfCounters I have to copy some cryptic code from old articles like this

[2019-08-19 17:03] cijothomas commented on #1250
UnhandledExceptionTelemetryModule is not available for asp.net core apps.

[2019-08-19 17:08] cijothomas commented on #1247
@slipdef Do you have a specific question about configuring AI on asp.net core, which is not covered here https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core#configure-the-application-insights-sdk

[2019-08-19 21:03] #1250 closed

[2019-08-19 21:43] slipdef commented on #1247
I'm not interested in ASP.NET Core part specifically, I'm trying to configure .NET Core console app. So I'm looking here https://docs.microsoft.com/en-us/azure/azure-monitor/app/console. At most half of the features supported for file configuration mode (https://docs.microsoft.com/en-us/azure/azure-monitor/app/configuration-with-applicationinsights-config) are described in the docs for console app

[2019-08-20 00:24] cijothomas commented on #1247
@slipdef You are right. Docs are very light about .net core console apps.
created a tracking issue in docs page: https://github.com/MicrosoftDocs/azure-docs/issues/37389
I cannot comment on when the doc will be updated fully, but if there is a specific configuration you need help with, please respond here.

[2019-08-22 01:02] sc22github commented on #343
Thanks @lmolkova, appreciate your help!

[2019-08-22 07:25] shibayan commented on #676
Fixed. Thanks!

[2019-08-22 07:25] #676 closed

[2019-08-23 02:51] qrli commented on #665
Any progress? I'm interested in Mongo dependency calls.

[2019-08-27 04:05] bigbearzhu opened #1251 "Index was outside the bounds of the array"
If you are reporting bug/issue, please provide detailed Repro instructions.

## Repro Steps
Not sure how to reproduce this, as it only happened once. Would be good to see if the stacktrace can provide hint.

##  Actual Behavior
Stacktrace:
`System.IndexOutOfRangeException: Index was outside the bounds of the array.
   at bool System.Collections.Generic.HashSet<T>.AddIfNotPresent(T value)
   at boo

[2019-08-27 04:25] bigbearzhu commented on #1251
aha, looks like there is already some fix at https://github.com/microsoft/ApplicationInsights-dotnet-server/pull/1211, but not released yet!

[2019-08-27 04:33] brentos99 commented on #627
I'm keen to see this implemented. Any chance there has been an update?

[2019-08-27 05:46] sajibcefalo commented on #957
Thanks, @Dmitry-Matveev for the reply.  Actually, I don't want to use to EndRequest event i.e. global.asax file. That's why I want to use a new middleware. Latest Web Api does not use global.asax

[2019-08-28 01:27] brentos99 commented on #627
I'd be happy to implement something like this myself. Would be good, if you could just include a NUGET package that registers with the DependencyCollector and interfaces directly with the MangedDataAccess Client.

https://docs.microsoft.com/en-gb/azure/azure-monitor/app/asp-net-dependencies

[2019-08-28 21:19] cijothomas commented on #1178
Validated the fix with latest beta1 sdk. closing.

[2019-08-28 21:19] #1178 closed

[2019-09-03 12:46] greigs commented on #569
For anyone who finds this with intermittent issues with performance telemetry not being collected after a redeploy / reset of the application. I fixed the issue I was having by adding the following in additional to the config described here...

[code]

[2019-09-03 16:57] cijothomas commented on #1186
fixed in https://github.com/microsoft/ApplicationInsights-dotnet-server/issues/1189

[2019-09-03 16:57] #1186 closed

[2019-09-05 02:56] lmolkova opened #1253 "QuickPulse does not distinguish multiple processes running on the same host"
QuickPulse sends machine name + role instance to the service and service and UX distinguish services based on machine names rather than role instance, role instance serves as a friendly name only.

When there is more than one instance on the same host, QP shows a single node for the host regardless of how many roles are reported within the node.

It is not possible to override the machine name QP

[2019-09-11 12:57] nukefusion opened #1259 "Service Bus Dependency Receive shows as a continuous stream of 1 minute calls"
Service bus continuously shows in the dependencies with a duration of 1 minute. The dependency name is "Receive".

Is this a problem? Or is it just the message pump timing out every minute? Because it looks suspect - is if it's taking a minute for the handler to complete. I've debugged through and this doesn't appear to be the case.

![service-bus](https://user-images.githubusercontent.com/2394420

[2019-09-11 13:11] IanKemp opened #1260 "DependencyTelemetry.TryGetOperationDetail isn't as helpful as it could be"
See #897.

1. There is no indication as to what values can be passed as the key.
2. There is no type-safety in the values returned.

tl;dr there's no way for anyone to know that they can call

[code]

The only reason I know to do the above is because I trawled through issues and PRs in this repo. Most people probably won't be as patient, and they shouldn't need to be.

#### Suggestion

1. Publicly

[2019-09-11 16:55] cijothomas commented on #1260
@IanKemp you are right, this feature is not publicly documented.  It's a good idea to public expose the keys. Tagging as an enhancement.

[2019-09-16 16:12] cijothomas commented on #1242
PerformanceCounter module which queries a ENV variable once every minute cannot possible explain 20% idle usage. Its possible if someone is using LiveMetrics in the portal, which would trigger the above ENV read every sec. The 2nd screenshot shared above is showing QuickPullse (internal name for LiveMetrics) in the stack as well.

[2019-09-16 18:19] cijothomas commented on #1175
fixed
https://github.com/microsoft/ApplicationInsights-dotnet/releases/tag/2.10.0

[2019-09-16 18:19] #1175 closed

[2019-09-16 18:20] cijothomas commented on #1188
#1222 added event counter suport. closing this.

[2019-09-16 22:43] cijothomas opened #1263 "System.Data.SqlClient replaced with Microsoft.Data.SqlClient in .NET CORE 3.0 and sql calls are not tracked in 3.0"
EF for .NET Core 3.0 replaces System.Data.SqlClient with Microsoft.Data.SqlClient.
https://devblogs.microsoft.com/dotnet/introducing-the-new-microsoftdatasqlclient/

The new Microsoft.Data.SqlClient publishes the same diagnosticsource events as System.Data.SqlClient, but with the prefix of the individual events replaced with "Microsoft.Data.SqlClient" (https://github.com/dotnet/SqlClient/blob/6549

[2019-09-17 00:05] cijothomas commented on #933
Closing old issues without any updates.

[2019-09-17 00:05] #933 closed

[2019-09-17 08:40] nukefusion commented on #1259
@lmolkova thanks, so these messages are expected and perfectly normal. If so we can close this.

[2019-09-17 15:52] cijothomas commented on #1236
Confirmed that SDK is reported dependency calls from AzureInstanceMetadataTelemetryModule. This is a bug.

[2019-09-17 17:57] TimothyMothra opened #1264 "Compile Bug: InjectXmlLanguage task failed unexpectedly"
I'm hitting this compile error frequently while building this solution.
I'm recording the details here so I can investigate this when I have the time.

[2019-09-19 17:28] #1263 closed

[2019-09-20 02:26] Fisher-Joe opened #1270 "How to set the value of Context.User.Id in PerformanceCollector"
## Expected Behavior
I want set a value for Azure's AI Log(Analytics) performanceCounters.user_Id.
How the write the code to implement this goal.

![image](https://user-images.githubusercontent.com/12068896/65294319-d5305980-db90-11e9-9104-55cb942c0dbd.png)

## Version Info
SDK Version :  Microsoft.AI.PerfCounterCollector  2.10.0.0
.NET Version :	 4.5
How Application was onboarded with SDK(VisualS

[2019-09-20 13:28] cijothomas commented on #1270
Have you tried using telemetryinitializer to add user info?
https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-filtering-sampling#add-properties-itelemetryinitializer

[2019-09-20 17:06] TimothyMothra commented on #1236
I'm unable to reproduce this bug using the latest SDK.
I tested this in a .Net 4.7 project (SDK 2.12-Beta2) project and also a .Net Core 2.2 (SDK 2.8-Beta3) project.
I set Visual Studio to break on all exceptions and found the exact exception that was being reported.

`AzureMetadataRequestor.MakeWebRequestAsync()` throws a TaskCanceledException:
[code]
https://github.com/microsoft/ApplicationInsig